<figure>
   {{ if .Params.image }}
     {{ $originalImage := resources.Get .Params.image }}
     {{ if $originalImage }}
       <a href="{{ $originalImage.RelPermalink | absURL }}" target="_blank" rel="noopener noreferrer">
         {{ $large := $originalImage.Resize "1500x q90 webp" }}
         <img
           src="{{ $large.RelPermalink }}"
           class="page"
           alt=""
         />
       </a>
     {{ else }}
       {{/* Fallback if image resource not found */}}
       <img src="{{ .Params.image | absURL }}" class="page" alt=""/>
     {{ end }}
   {{ end }}
  {{ with $.Params.caption }}
    <figcaption>{{ . | markdownify }}</figcaption>
  {{ end }}
</figure>