<style>
  .close-btn {
    color: var(--highlight);
    float: right;
    cursor: pointer;
    font-size: 14px;
    margin-left: auto;
  }

  #notice {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }

  .close-btn:hover {
    opacity: .5;
  }

  span.new-tag {
    margin-right: 5px;
    line-height: .8rem;
  }
  span.nav-tag {
    font-size: 0.6rem;
    margin-left: 5px;
  }

  @media only screen and (max-width: 500px) {
    span.nav-tag {
      display: none;
    }
  }
</style>


<blockquote id="notice" class="note panel" style="padding: .5rem;">
  {{ range ( where .Site.RegularPages "Type" "stories" | first 1 ) }}
  <span class="tag new-tag">NEW</span> <a
    style="white-space: nowrap; overflow:hidden;" href="{{ .Permalink }}"><span class="navicon">📗</span>Story: <i>{{ .Title
    }}</i></a>
  <span id="close-btn" class="navicon close-btn">❌</span>
</blockquote>
{{end}}

<script>
  {{ $searchDataFile := printf "%s.search-data.json" .Language.Lang }}
  {{ $searchData := resources.Get "search-data.json" | resources.ExecuteAsTemplate $searchDataFile . | resources.Minify | resources.Fingerprint }}

  function checkNewStories() {
    const notice = document.querySelector("#notice");
    const storiesLink = document.querySelector(`.menu-link[href="/stories/"]`);

    const noticesSeen = JSON.parse(localStorage.getItem("noticesSeen") || "[]");
    const noticesVisited = JSON.parse(localStorage.getItem("noticesVisited") || "[]");
    const currentNoticeHref = notice.querySelector("a").href

    if(location.pathname.startsWith('/stories/')) {
      // When visiting /stories/, add "last story" to localStorage
      noticesVisited.push(currentNoticeHref);
      localStorage.setItem("noticesVisited", JSON.stringify(noticesVisited))
    }

    if(!noticesVisited.includes(currentNoticeHref)) {
      // If the user hasn't visited /stories/
      const newTag = document.createElement("span");
      newTag.classList.add("tag", "new-tag", "nav-tag");
      newTag.textContent = "NEW";

      storiesLink.insertBefore(newTag, storiesLink.children[2])
    }

    if(noticesSeen.includes(currentNoticeHref)) {
      // If the user has dismissed the notice
      notice.style.display = "none";
    }

    // Add close button functionality
    notice.querySelector("#close-btn").addEventListener("click", () => {
      noticesSeen.push(currentNoticeHref);
      localStorage.setItem("noticesSeen", JSON.stringify(noticesSeen))
      notice.style.display = "none";
    })
    // Add close on link click functionality
    notice.querySelector("#notice a").addEventListener("click", () => {
      noticesSeen.push(currentNoticeHref);
      localStorage.setItem("noticesSeen", JSON.stringify(noticesSeen))
      notice.style.display = "none";
    })
  }

  checkNewStories()
</script>