{{ if in .Params.series "republic" }}
<a href="/republics/">Constituent Republic</a>
{{ end }}
{{ if in .Params.series "commonwealth" }}
<a href="/constituents/">Constituent Commonwealth</a>
{{ end }}
{{ if in .Params.series "vekllei" }}
<a href="/intro/">Union of Atlantic Communities</a>
{{ end }}
{{ if in .Params.series "bulletin" }}
<a href="/bulletin/">Information Bulletin</a>
{{ end }}
{{ if in .Params.series "factsheet" }}
<a href="/society/">Fact Sheet</a>
{{ end }}

{{ if in .Params.series "goc" }}
<a href="/state-industry/">State Corporation</a>
{{ end }}
{{ if in .Params.series "ib" }}
<a href="/bureaus/">Bureau Corporation</a>
{{ end }}

{{ if in .Params.series "vessel" }}
<a href="/marine/">Naval Vessel</a>
{{ end }}


{{ if in .Params.series "ministry" }}
<a href="/ministries/">Commonwealth Ministry</a>
{{ end }}
{{ if in .Params.series "bureau" }}
<a href="/government-bureaus/">Government Bureau</a>
{{ end }}