<!-- original reddit "archive" link -->
{{ if in .Params.categories "archive" }}
  <blockquote class="hint" style="background-color: var(--gray-100);">
    <span class="smallicon" style="font-size: 14px;">⚠️</span> This article is <a href="/categories/archive/">archived</a>, and <b>should be considered non-canon</b>.
  </blockquote>
{{ end }}

<!-- horizon article param-->
{{ if in .Params.categories "horizon" }}
  <blockquote class="hint" style="background-color: var(--gray-100);">
    <span class="smallicon" style="font-size: 14px;">🪷</span> This article is part of <i><a href="/stories/horizon/">Stories from the Horizon</a></i>, a journey across Vekllei's <a href="/boroughs/">boroughs</a>.
  </blockquote>
{{ end }}

<!-- hides category elements for posts -->
{{ if in .Params.categories "story" }}
  <style>
    .article-tag {
      display: none;
    }
    .article-category {
      display: none;
    }
    .headcrumbs {
      display: none;
    }
    .pill {
      display: none;
    }
  </style>
{{ end }}

{{ if in .Params.categories "blog" }}
  <style>
    .article-tag {
      display: none;
    }
    .article-category {
      display: none;
    }
  </style>
{{ end }}