<!-- behind-the-scenes video embed -->
{{ if .Params.video }}
<div class="collapsible-menu-wrapper" style="margin-bottom: 1rem;">
  <details class="noSelect">
    <summary class="noSelect" style="font-weight: 500; font-size: 16px; padding: 0px 5px;"><span class="smallicon" style="font-size: 18px;">📺</span> Studio Spotlight</summary>
    <br>
    <video src="{{ .Params.video }}" controls>
  </details>
</div>
{{ end }}

<div class="story-footer">
  <div class="next-post alignleft">
    {{ if .NextInSection }}
      <a class="link-reverse" href="{{ .NextInSection.Permalink }}">← {{ .NextInSection.Title | truncate 50 "..." }}</a>
    {{ end }}
  </div>
  <div>
    <!-- inPRNT shop link -->
    {{ if .Params.print }}
      <a class="article-button" href="{{ .Params.print }}"><span class="smallicon" style="font-size: 14px;">🛒</span> Print Shop</a>
    {{ end }}
  </div>
  <div class="next-post alignright">
    {{ if .PrevInSection }}
      <a class="link-reverse" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title | truncate 50 "..."}} →</a>
    {{ end }}
  </div>
</div>

<!-- unimplemented tags in footer
  
  {{ if in .Params.categories "story" }}
<ul class="tag">
{{- partial "taxonomies/tags.html" . -}}
</ul>
{{ end }}-->