{{- partial "params.html" . -}}

<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/zoomist@2/zoomist.css" />

<body {{if .Params.Color }}data-color="{{ .Params.Color }}" {{ end }} class="show-all-images">
  <main>
    {{- partial "header.html" . -}}
    {{- partial "nav.html" . -}}
  </main>

  <!-- zoomist-container -->
  <div class="zoomist-container">
    <!-- zoomist-wrapper is required -->
    <div class="zoomist-wrapper">
    <!-- zoomist-image is required -->
    <div class="zoomist-image">
      <!-- you can add anything you want to zoom here. -->
      <img src="/svg/maps/world.svg" />
    </div>
    </div>
  </div>

  {{- partial "resources/js.html" . -}}
  {{- partial "script.html" . -}}
</body>

<!-- scripts -->
<script src="https://cdn.jsdelivr.net/npm/zoomist@2/zoomist.umd.js"></script>
<script>
  const zoomist = new Zoomist('.zoomist-container', {
    draggable: true,
    // set is wheelable or not
    wheelable: false,
    // set is pinchable or not
    pinchable: true,
    // set image stuck on bounds
    bounds: true,
    // the ratio of zooming at one time
    zoomRatio: 0.1,
    // the max scale of zoomist-image (must be number larger then initScale)
    maxScale: 10,
    // the min scale of zoomist-image (must be number smaller then initScale)
    minScale: 1,
    // set initial scale of zoomist-image
    // if you need slider
    slider: true,
    // if you need zoomer
    zoomer: true
  })
</script>

<style>
  .zoomist-container {
    width: 100%;
  }

  .zoomist-image {
    width: 100%;
    aspect-ratio: 1;
  }

  .zoomist-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
</style>

</html>