<figure>
  <a href="{{ .Destination | safeURL }}"
     target="_blank"
     rel="noopener noreferrer">

    <!-- Set up variables to pass to partials -->
    {{ $image_ext := path.Ext .Destination }}
    {{ $text := .Text | plainify }}
    {{ $title := .Title | plainify}}
    {{ $context := (dict
        "context" .
        "Destination" .Destination
        "Title" $title
        "Text" $text
      )}}

      {{ if (and (fileExists (print "/assets" .Destination)) (not (eq .Destination ""))) }}
      {{ $image := resources.Get .Destination }}
      {{ $fallback := $image }}
      {{ $src_set := "" }}

      {{- if (strings.HasSuffix $image_ext "svg") -}}
             <img
               class="rcf-image external-image unoptimized"
               src="{{ .Destination | safeURL }}"
               {{- if .Text -}} alt="{{ .Text }}" {{ end }}
               {{- if .Title -}} title="{{ .Title }}" {{ end }}
               loading="lazy"
             />

          {{- else if (strings.HasSuffix $image_ext "gif") -}}
              <img
                 class="rcf-image external-image unoptimized"
                 src="{{ .Destination | safeURL }}"
                 {{- if .Text -}} alt="{{ .Text }}" {{ end }}
                 {{- if .Title -}} title="{{ .Title }}" {{ end }}
                 loading="lazy"
               />

          {{- else -}}

      <!-- ADD IMAGES TO SRC-SET -->

      {{ $resized := $image.Resize "680x q90 webp" }}
      {{ $src_set = (print $src_set $resized.RelPermalink " 1x") }}
      {{ $fallback = $resized }}

      <img class="rcf-image lazyload show-if-js"
        {{ printf "data-srcset=%q" $src_set | safeHTMLAttr }}
        src="{{ $image.RelPermalink }}"
        {{- if .Text -}} alt="{{ .Text }}" {{ end }}
        {{- if .Title -}} title="{{ .Title }}" {{ end }}
        loading="lazy"
      />

      {{ end }}
      {{- end -}}

  </a>

{{ $caption := .Title }}
  <!-- Caption the image if a title or alt text is given -->
   {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
</figure>