<figure>
  <a href="{{ .Destination | safeURL }}"
     target="_blank"
     rel="noopener noreferrer">

    <!-- Set up variables to pass to partials -->
    {{ $image_ext := path.Ext .Destination }}
    {{ $text := .Text | plainify }}
    {{ $title := .Title | plainify}}
    {{ $context := (dict
        "context" .
        "Destination" .Destination
        "Title" $title
        "Text" $text
      )}}

        <!-- Otherwise, pass to an image rendering partial -->
        {{- if (strings.HasSuffix $image_ext "svg") -}}
            {{ partial "compressed-svg.html" $context}}

        {{- else if (strings.HasSuffix $image_ext "gif") -}}
            {{ partial "compressed-gif.html" $context}}

        {{- else -}}
            <!-- Renderer for all other static image types -->
            {{ partial "compressed-image.html" $context}}

    {{- end -}}

  </a>

  <!-- Caption the image if a title or alt text is given -->
    <figcaption>{{ .Title | markdownify }}</figcaption>
</figure>