<figure>
  <a href="{{ .Destination | safeURL }}"
     target="_blank"
     rel="noopener noreferrer">

    <!-- Set up variables to pass to partials -->
    {{ $image_ext := path.Ext .Destination }}
    {{ $text := .Text | plainify }}
    {{ $title := .Title | plainify}}
    {{ $context := (dict
        "context" .
        "Destination" .Destination
        "Title" $title
        "Text" $text
      )}}

      {{ if (and (fileExists (print "/assets" .Destination)) (not (eq .Destination ""))) }}
      {{ $image := resources.Get .Destination }}
      {{ $fallback := $image }}
      {{ $src_set := "" }}

      <!-- ADD IMAGES TO SRC-SET -->

      {{ if ge $image.Width "1500" }}
      {{ $resized := $image.Resize "1500x q90 jpg" }}
      {{ $src_set = (print $src_set $resized.RelPermalink " 3x, ") }}
      {{ end }}

      {{ $resized := $image.Resize "680x q90 jpg" }}
      {{ $src_set = (print $src_set $resized.RelPermalink " 1x") }}
      {{ $fallback = $resized }}

      <img class="rcf-image lazyload show-if-js"
        {{ printf "data-srcset=%q" $src_set | safeHTMLAttr }}
        data-src="{{ $image.RelPermalink }}"
        src="data:image/jpeg;base64}"
        data-sizes="auto"
        {{- if .Text -}} alt="{{ .Text }}" {{ end }}
        {{- if .Title -}} title="{{ .Title }}" {{ end }}
        loading="lazy"
      />

      {{ end }}

  </a>

  <!-- Caption the image if a title or alt text is given -->
    <figcaption>{{ .Title | markdownify }}</figcaption>
</figure>