  {{ $url := urls.Parse .Destination }}
  {{ $altText := .Text }}
  {{ $caption := .Title }}
  {{ if findRE "^https?" $url.Scheme }}
    <figure>
      <img class="my-0 rounded-md" src="{{ $url.String }}" alt="{{ $altText }}" />
      {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
    </figure>
  {{ else }}
    {{ $resource := "" }}
    {{ if $.Page.Resources.GetMatch ($url.String) }}
      {{ $resource = $.Page.Resources.GetMatch ($url.String) }}
    {{ else if resources.GetMatch ($url.String) }}
      {{ $resource = resources.Get ($url.String) }}
    {{ end }}
    {{ with $resource }}
      <figure>
        <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} loading="lazy" />
        {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
      </figure>
    {{ else }}
      <figure>
        <img class="my-0 rounded-md" src="{{ $url.String }}" alt="{{ $altText }}" />
        {{ with $caption }}<figcaption>{{ . | markdownify }}</figcaption>{{ end }}
      </figure>
    {{ end }}
  {{ end }}
