{{/* layouts/_default/_markup/render-link.html */}}

{{- $context := .Page -}}
{{- $link := .Destination -}}
{{- $text := .Text | safeHTML -}}

{{- $wikiLinkPattern := `\[\[([^|\]]+)(?:\|([^\]]+))?\]\]` -}}
{{- $isExternal := hasPrefix $link "http" -}}

{{- if findRE $wikiLinkPattern $text -}}
  {{- $path := replaceRE $wikiLinkPattern "$1" $text | trim -}}
  {{- $display := replaceRE $wikiLinkPattern "$2" $text | trim -}}
  {{- if eq $display "" -}}
    {{- $display = $path -}}
  {{- end -}}

  {{- with $context.Site.GetPage $path -}}
    {{- $href := .RelPermalink -}}
    {{- printf `<a href="%s">%s</a>` $href (default .Title $display) | safeHTML -}}
  {{- else -}}
    {{- printf `<a href="#">%s</a>` $display | safeHTML -}}
  {{- end -}}
{{- else -}}
  {{- if $isExternal -}}
    {{- printf `<a href="%s"><span class="navicon" style="font-size: 12px">🔗</span>%s</a>` $link $text | safeHTML -}}
  {{- else -}}
    {{- printf `<a href="%s">%s</a>` $link $text | safeHTML -}}
  {{- end -}}
{{- end -}}