{{ range .Children }}
    {{ if .Children }}
        <li class="submenu allow-hover">
            {{ if .URL }}
                <a href="{{ .URL }}" class="menu-link"><span class="navicon">{{ .Pre }}</span>{{- .Name -}}</a>
            {{ else }}
                <div class="menu-link"><span class="navicon">{{ .Pre }}</span><span style="text-decoration: underline;">{{- .Name -}}</span></div>
            {{ end }}
            <ul class="menu-dropdown">
                {{- partial "nav/navbar/nav-mobile.html" . -}}
            </ul>
        </li>
    {{ else }}
        <li>
            {{ if .URL }}
                <a href="{{ .URL }}" class="menu-link"><span class="navicon">{{ .Pre }}</span>{{- .Name -}}</a>
            {{ else }}
                <div class="menu-link"><span class="navicon">{{ .Pre }}</span>{{- .Name -}}</div>
            {{ end }}
        </li>
    {{ end }}
{{ end }}
