{{- partial "params.html" . -}}

<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}
<link rel="stylesheet" href="/css/parallax/volcanic.css">
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>

<body {{if .Params.Color }}data-color="{{ .Params.Color }}" {{ end }} class="show-all-images">
  <main>
    {{- partial "header.html" . -}}
    {{- partial "nav.html" . -}}
  </main>
 
 <!-- Volcanic parallax partial -->
 {{- partial "components/volcanic.html" . -}}

  <main>
    <!--{{- partial "header.html" . -}}-->
    <article class="content" style="margin-top: 0;">
      {{ if .Params.changelogs }}
      {{ $enableCollapsibleChangelogs := (.Scratch.Get "params").enableCollapsibleChangelogs }}
      {{ partial "components/collapsible-menu.html" (dict "type" "changelogs" "context" . "enable" $enableCollapsibleChangelogs) }}
      {{ end }}

      {{- partial "content" . }}

      {{ if eq .Kind "page" }}
      {{ if (.Params.disqus | default .Site.DisqusShortname) }}
      {{- partial "disqus.html" . -}}
      {{ end }}
      {{ else }}
      {{ if (.Params.disqus | default false) }}
      {{- partial "disqus.html" . -}}
      {{ end }}
      {{ end }}
    </article>
    {{- partial "footer.html" . -}}
  </main>
  {{- partial "resources/js.html" . -}}
  {{- partial "script.html" . -}}
</body>

<style>
  #notice {
    margin: 1rem;
  }
</style>

</html>