{{- partial "params.html" . -}}

<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}
<link rel="stylesheet" href="/css/parallax/volcanic.css">
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>

<body {{if .Params.Color }}data-color="{{ .Params.Color }}" {{ end }} class="show-all-images">
  <main class="volcanic-parallax">
    <div class="floating-nav">
      {{- partial "header.html" . -}}
      {{- partial "nav.html" . -}}
    </div>

      <!-- Volcanic parallax partial -->
      {{- partial "parallax/volcanic.html" . -}}
  </main>

  <main>
    <!--{{- partial "header.html" . -}}-->
    <article class="content" style="margin-top: 0;">
      {{- partial "content" . }}
    </article>
    {{- partial "footer.html" . -}}
  </main>
  {{- partial "resources/js.html" . -}}
  {{- partial "script.html" . -}}
</body>

<style>
  #notice {
    margin: .5rem 0 0 0;
  }
  .volcanic-parallax {
    background: transparent;
    margin-top: 0;
    padding-top: 0;
  }
  #HeaderCanvas {
      top: 0;
      left: 0;
      padding: 0;
      z-index: -1;
      height: 100vh;
      width: 100vw;
      margin-left: calc((100% - 100vw) / 2);
  }
 .volcanic-parallax {
   background: transparent;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 0;
   padding-bottom: 0;
   box-sizing: inherit;
   position: relative;
 }
</style>

</html>