<table class="infobox">
	<tr>
		<th style="background-color: var(--highlight-background)" colspan="2">{{.Get "Name"}}</th>
	</tr>

	{{ if (.Get "Image") }}
	<tr>
		<td colspan="2">
			<img style="height: 10rem; background: transparent;" src="{{.Get "Image"}}">
		</td>
	</tr>
	{{ end }}

	{{ if (.Get "Age") }}
	<tr>
		<td style="font-weight: 500; width: 50%;"><span class="navicon">🔄</span> Age</th>
		<td>{{.Get "Age"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Birthday") }}
	<tr>
		<td style="font-weight: 500; width: 50%;"><span class="navicon">🎂</span> Birthday</th>
		<td>{{.Get "Birthday"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Occupation") }}
	<tr>
		<td style="font-weight: 500; width: 50%;"><span class="navicon">💼</span> Occupation</th>
		<td>{{.Get "Occupation"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Residence") }}
	<tr>
		<td style="font-weight: 500; width: 50%;"><span class="navicon">🏠</span> Residence</th>
		<td>{{.Get "Residence"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Likes") }}
	<tr>
		<td style="font-weight: 500; width: 50%;"><span class="navicon">❤️</span> Likes</th>
		<td>{{.Get "Likes"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Dislikes") }}
	<tr>
		<td style="font-weight: 500; width: 50%;"><span class="navicon">💔</span> Dislikes</th>
		<td>{{.Get "Dislikes"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Associates") }}
	<tr>
		<td style="font-weight: 500; width: 50%;"><span class="navicon">🤝</span> Associates</th>
		<td>{{.Get "Associates"}}</td>
	</tr>
	{{ end }}
</table>