<table class="infobox" style="float: right; border-radius: .25rem; padding: .25rem;">
	<tr>
		<th colspan="2"><span class="fi" style="background-image: url({{.Get "SmallFlag"}});"></span> {{.Get "Name"}}</th>
	</tr>

	{{ if eq (.Get "Type") "Republic" }}
	<tr>
		<td style="background-color: var(--highlight-background); text-align: center" colspan="2"><a href="/republics/">Constituent Republic</a> of <a style="color: var(--color-vekllei)" href="/vekllei/"><span class="fi fi-com"></span> Vekllei</a></td>
	</tr>
	{{ end }}

	{{ if eq (.Get "Type") "Commonwealth" }}
	<tr>
		<td style="background-color: var(--highlight-background); text-align: center" colspan="2"><a href="/constituents/">Regional Commonwealth</a> of <a style="color: var(--color-vekllei)" href="/vekllei/"><span class="fi fi-com"></span> Vekllei</a></td>
	</tr>
	{{ end }}

	{{ if eq (.Get "Type") "Vekllei" }}
	<tr>
		<td style="background-color: var(--highlight-background); text-align: center" colspan="2">Sovereign Commonwealth</a> of <a href="/republics/">Atlantic Communities</a></td>
	</tr>
	{{ end }}

	{{ if (.Get "Flag") }}
	<tr>
		<td colspan="2">
			<img src="{{.Get "Flag"}}">
		</td>
	</tr>
	{{ end }}

	{{ if (.Get "Map") }}
	<tr>
		<td colspan="2">
			<img src="{{.Get "Map"}}">
		</td>
	</tr>
	{{ end }}

	{{ if (.Get "Locator") }}
	<a src="{{.Get "Locator"}}">
	<tr>
		<td colspan="2">
			<img src="{{.Get "Locator"}}">
		</td>
	</tr>
	</a>
	{{ end }}

	{{ if eq (.Get "Commonwealth") "Antarctica" }}
	<tr>
		<td style="background-color: var(--highlight-background); text-align: center" colspan="2">Part of <a style="color: var(--color-blue)" href="/antarctic/"><span class="fi fi-antarctic"></span> Commonwealth Antarctica</a></td>
	</tr>
	{{ end }}

	{{ if eq (.Get "Commonwealth") "Arctic" }}
	<tr>
		<td style="background-color: var(--highlight-background); text-align: center" colspan="2">Part of the <a style="color: var(--color-blue)" href="/arctic/"><span class="fi fi-arctic"></span> Commonwealth Arctic</a></td>
	</tr>
	{{ end }}

	{{ if eq (.Get "Commonwealth") "Kalina" }}
	<tr>
		<td style="background-color: var(--highlight-background); text-align: center" colspan="2">Part of <a style="color: var(--color-blue)" href="/kalina/"><span class="fi fi-kalina"></span> Commonwealth Kalina</a></td>
	</tr>
	{{ end }}

	{{ if eq (.Get "Commonwealth") "Volcanic" }}
	<tr>
		<td style="background-color: var(--highlight-background); text-align: center" colspan="2">Part of the <a style="color: var(--color-blue)" href="/volcanic/"><span class="fi fi-volcanic"></span> Volcanic Commonwealth</a></td>
	</tr>
	{{ end }}

	{{ if (.Get "Anthem") }}
	<tr>
		<td style="font-weight: 500; width: 50%;">Anthem</th>
		<td>{{.Get "Anthem"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Government") }}
	<tr>
		<td style="font-weight: 500; width: 50%;">Government</th>
		<td>{{.Get "Government"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Capital") }}
	<tr>
		<td style="font-weight: 500; width: 50%;">Capital</th>
		<td>{{.Get "Capital"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Population") }}
	<tr>
		<td style="font-weight: 500; width: 50%;">Population</th>
		<td>{{.Get "Population"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Area") }}
	<tr>
		<td style="font-weight: 500; width: 50%;">Area</th>
		<td>{{.Get "Area"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "NationalLanguage") }}
	<tr>
		<td style="font-weight: 500; width: 50%;">National Language</th>
		<td>{{.Get "NationalLanguage"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Languages") }}
	<tr>
		<td style="font-weight: 500; width: 50%;">Languages</th>
		<td>{{.Get "Languages"}}</td>
	</tr>
	{{ end }}

	{{ if (.Get "Accession") }}
	<tr>
		<td style="font-weight: 500; width: 50%;">Vekllei Accession</th>
		<td>{{.Get "Accession"}}</td>
	</tr>
	{{ end }}
</table>