html {
	  box-sizing: border-box;
	}
	*, *:before, *:after {
	  box-sizing: inherit;
	}

input {
	min-width: 100%;
	max-width: 100%;
}

.gt-container .gt-meta {
	padding: .5rem 1rem .5rem .75rem;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	margin-top: 0rem;
	list-style: none;
	border-bottom: 0px solid #e9e9e9;
	color: var(--color-gray);
	margin: 0;
	background-color: var(--gray-100);
	font-weight: 500;
}

.gt-container .gt-header {
	background-color: var(--gray-100);
	padding: .5rem 1rem .5rem .75rem;
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}

.gt-container .gt-header-textarea {
	border-radius: 5px;
	border: 1px solid transparent;
	background-color: var(--body-background);
	color: #171717;
}

.gt-container .gt-header-textarea:focus {
	border: 1px solid var(--color-gray);
}

::placeholder {
	color: var(--color-gray);
}

.gt-container .gt-header-textarea:hover {
	border-color: var(--color-gray);
}

.gt-container .gt-comment-admin .gt-comment-content {
	background-color: rgba(0,112,245,.1);
	border-radius: 5px;
}

.gt-container .gt-comment-content {
	background-color: var(--body-background);
	border-radius: 5px;
}

.gt-container .gt-comment-body {
	color: var(--body-font-color) !important;
}

.gt-container .gt-avatar img {
	border-radius: 50%;
}

.gt-container .gt-ico-github svg {
	fill: var(--color-gray);
}

.gt-container .gt-user .gt-ico svg {
	fill: var(--color-gray);
}

.gt-container .gt-btn {
	border: 1px solid var(--color-gray);
	border-radius: 5px;
	background-color: var(--color-gray);
	color: var(--body-background);
	outline: none;
	font-size: 0.75em;
}

.gt-container .gt-link {
	border-bottom: 0px;
}

.gt-container a {
	color: var(--color-blue);
}

.gt-container .gt-header-controls .gt-btn {
	margin-bottom: 0.25rem;
}

.gt-container .gt-comment-content:hover {
	filter: brightness(85%);
}
.gt-container .gt-btn-text {
	font-weight: 500;
}
.gt-container .gt-btn-preview {
	  background-color: var(--color-gray);
	  color: var(--body-background);
	  padding: 0.5rem;
	}
.gt-container .gt-btn-preview:hover {
	filter: brightness(85%);
	background-color: var(--color-gray);
	border-color: var(--color-gray);
	}
.gt-container .gt-btn-login:hover {
	filter: brightness(85%);
}
.gt-container .gt-btn-public:hover {
	  filter: brightness(85%);
}

@media (max-width: 479px) {
	.gt-container .gt-header-controls .gt-btn:hover {
		float: none;
		overflow: hidden;
		margin: 0.75em 0 0;
	}
}

.gt-container .gt-header-controls-tip {
		display: none;
}

.gt-container .gt-header-controls-tip {
	color: var(--color-gray);
}
.gt-container .gt-header-controls-tip:hover {
	filter: brightness(85%);
}
.gt-container .gt-user:hover {
	filter: brightness(85%);
}
.gt-container .gt-link:hover {
	filter: brightness(85%);
}

.gt-container .gt-comments-null {
    display: none;
}
