// cusdis

// Classes for qusdis

@mixin ch_bcolor($color1, $color2) {
	@if $color1==$color2 {
	  @extend .btn-secondary;
  } @else {
	  @extend .btn-primary;
  }
}

$cusdis-text-color: var(--font-color);

#millmint-cusdis {
  color: $cusdis-text-color;
  overflow: hidden;

  .bg-blue-500 {
	@include radius-base;
	color: var(--font-color);
	margin-left: 15vw;
	margin-right: 15vw;
	padding: 1rem !important;
	text-align: center;
  }

  input,
  textarea {
	&.bg-transparent:focus {
	  background-color: white !important;
	  color: var(--font-color);
	}
  }

  button {
	&.bg-gray-200 {
	  @include font-bold;
	  @include font-color;
	}
  }

  .border-color-gray-200 {
	border-color: $cusdis-text-color;
  }

  //Name
  .font-medium {
	@include font-color;
	@include font-bold;
  }

  .text-gray-500 {
	//Comment
	color: var(--font-color);
	&.text-sm {
	  color:var(--font-color);
	}
  }

  //Reply button
  button {
  }

  .border-color-gray-200 {
	border-color: var(--font-color);
  }

  .underline {
	@include font-color;
	text-decoration: none;
	font-weight: bold;
  }
}