// Replybox
a, a:visited, a:hover {
    color: var(--highlight);
}

textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
}

.node-actions {
    margin-top: -.3em;
    text-transform: capitalize;
}
