/* whirlybats */
@font-face {
  font-family: "Whirlybats";
  src: url("/fonts/WhirlybatsGX.ttf")
  format("truetype");
}

@font-face {
  font-family: 'Whirly Birdie';
  src: url('https://cdn.glitch.com/1711052e-ea5e-4036-9c61-dd3ef6782855%2FWhirlyBirdieGX.ttf?v=1596681362011')  format('truetype');
}

/* Nay Aug */
@font-face {
  font-family: "Nay Aug Black";
  src: url("/fonts/NayAug-Black.ttf")
  format('truetype');
}

@font-face {
  font-family: "Nay Aug Bold";
  src: url("/fonts/NayAug-Bold.ttf")
  format('truetype');
}

/* inter */
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* inter fallback */

/* inter regular */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), local('Inter-Regular'),
       url('/fonts/inter/Inter-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/inter/Inter-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter medium*/
@font-face {
  font-family: 'Inter Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Inter Medium'), local('Inter-Medium'),
       url('/fonts/inter/Inter-Medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/inter/Inter-Medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter semibold*/
@font-face {
  font-family: 'Inter SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Inter SemiBold'), local('Inter-SemiBold'),
       url('/fonts/inter/Inter-SemiBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/inter/Inter-SemiBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* inter bold*/
@font-face {
  font-family: 'Inter Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Inter Bold'), local('Inter-Bold'),
       url('/fonts/inter/Inter-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/inter/Inter-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-family: 'Inter Extra Bold';
  font-style: normal;
  font-weight: 900;
  src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
       url('/fonts/inter/Inter-ExtraBold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/inter/Inter-ExtraBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
