/* whirlybats */
@font-face {
  font-family: "Whirlybats";
  src: url("/fonts/WhirlybatsGX.ttf")
    format("truetype");
}

@font-face {
  font-family: 'Whirly Birdie';
  src: url('https://cdn.glitch.com/1711052e-ea5e-4036-9c61-dd3ef6782855%2FWhirlyBirdieGX.ttf?v=1596681362011')  format('truetype');
}
