/* on update delete italic params in _fonts.scss in book theme */

/* You can add custom styles here. */

/* typography root */
:root {
	--gray-100: #f8f9fa;
	--gray-200: #F8F8FA;
	--body-background: #FFFFFF;
	--body-font-color: #1d1d1f;
	--body-font-light: #666666;
	--body-font-color-invert: #f3f3f3;
	--color-link: #06c;
	--color-visited-link: #1a0dab;
	--color-blue: rgb(0,112,245);
	--color-brown: rgb(152,122,84);
	--color-gray: rgb(132,132,137);
	--color-green: rgb(30,195,55);
	--color-indigo: rgb(84,82,204);
	--color-orange: rgb(245,139,0);
	--color-pink: rgb(245,35,75);
	--color-purple: rgb(159,75,201);
	--color-red: rgb(245,49,38);
	--color-teal: rgb(90,200,250);
	--color-yellow: rgb(245,194,0);
	--icon-filter: none
}

@media (prefers-color-scheme: dark) {
	:root {
		--gray-100: #21262d;
		--gray-200: #161b22;
		--body-background: #000;
		--body-font-color: #f3f3f3;
		--body-font-light: #86868b;
		--body-font-color-invert: #2c3e50;
		--color-link: #84b2ff;
		--color-visited-link: #b88dff;
		--color-blue: rgb(20,142,255);
		--color-brown: rgb(182,152,114);
		--color-gray: rgb(162,162,167);
		--color-green: rgb(60,225,85);
		--color-indigo: rgb(99,97,242);
		--color-orange: rgb(255,169,20);
		--color-pink: rgb(255,65,105);
		--color-purple: rgb(204,101,255);
		--color-red: rgb(255,79,68);
		--color-teal: rgb(100,210,255);
		--color-yellow: rgb(255,224,20);
		--icon-filter: brightness(0) invert(1)
	}
}

/*font fallback*/

.markdown {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue". "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
	line-height: 1.47059;
	font-size: 17px;
}
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;


html {
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
}

body {
	min-width: 20rem;
	color: var(--body-font-color);
	background: var(--body-background);
	letter-spacing: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
}

video {
	display: block;
	margin-top: 1rem;
	margin: auto;
	max-height: 500px;
	border-radius: 5px;
}

/*navigation padding*/

.book-menu nav {
	width: 16rem;
	padding: 2rem 1rem 2rem 2rem;
	position: relative;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}

aside nav {
	padding-top: 2rem;
}

aside nav ul {
	color: var(--body-font-light);
}

aside nav ul a {
	display: inline-block;
	position: relative;
	padding: 0.2em 0.4em 0.2em 0.4em;
	margin-top: .2em;
	margin-bottom: .2em;
	border-radius: 4px;
	cursor: pointer !important;
	color: var(--body-font-color);
}

.book-menu a:hover {
	background-color: var(--gray-100);
	text-decoration: none;
}

.book-section-flat>a, .book-section-flat>span, .book-section-flat>label {
	margin-bottom: 4em;
}

.book-menu a.active {
	font-weight: bold;
	color: var(--body-font-color);
}

aside nav ul a:hover {
	opacity: 1;
}

.book-toc a:hover {
	opacity: 0.5;
}

.book-section-flat > ul {
	padding-inline-start: 0;
	margin-top: 15px;
}

aside nav ul li {
	margin: 0 0;
	position: relative;
	padding: 0 .3em 0.3em 0;
}

/* typography */

@keyframes whirlyAnimate {
	0%   { font-variation-settings: "anim" 100; }
	100% { font-variation-settings: "anim" 200; }
}

#whirlybat {
	animation: whirlyAnimate 1s linear infinite;
}

hr, h1, h2, h3 {
	font-weight: bolder;
}

.markdown a {
	text-decoration: none;
}

.markdown h1 {
	margin-top: 1.25em;
	color: var(--body-font-color);
}

.markdown h1 a {
	color: var(--body-font-color);
}

.markdown a:visited {
	color: var(--color-visited-link);
}

/* book brand */
.book-brand img {
	height: 1em;
	vertical-align: top;
}
.book-brand {
	font-size: 38px;
	margin-bottom: 10px;
	font-weight: 800;
	margin-top: -4px;
}

.book-brand a:hover {
	opacity: .8;
	-webkit-background-clip: text;
}

/*
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
-webkit-animation: hue 1s infinite linear;
}

@-webkit-keyframes hue {
from {
-webkit-filter: hue-rotate(0deg);
}
to {
-webkit-filter: hue-rotate(-360deg);
}
}
*/

/* title bold styles */
.markdown h1 {
	font-weight: 800;
	font-size: 38px;
}
.markdown h2 {
	font-weight: 800;
	font-size: 26px;
}
.markdown h2 a {
	color: var(--body-font-color);
}
.markdown h2 a:visited {
	color: var(--body-font-color);
}
.markdown h3 {
	font-weight: bold;
	font-size: 22px;
}
.markdown h4 {
	font-weight: bold;
	font-size: 20px;
}
.markdown h5 {
	font-weight: bold;
}

p {
	margin-bottom: 1.4211em;
}

.fc {
	font-size: 84px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -.015em;
	float: left;
	margin-right: 8px;
	line-height: .89286;
}

.markdown details {
    padding: 1rem;
    border: 0px solid var(--gray-200);
    border-radius: .25rem;
    background-color: var(--gray-100);
		color: var(--body-font-light);
		outline: none;
}

.markdown details[open] summary {
		outline: none;
}

/* dark mode */
.book-search input {
	width: 100%;
}

.js-toggle-wrapper {
	display: table;
	margin: 8px 30px 0 5px;
	flex: 1;
}

.js-toggle {
	touch-action: pan-x;
	display: inline-block;
	position: relative;
	cursor: pointer;
	background-color: transparent;
	border: 0;
	padding: 0;
	-webkit-touch-callout: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

.js-toggle-screenreader-only {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.js-toggle-track {
	width: 60px;
	height: 34px;
	padding: 0;
	// border-radius: 30px;
	// background-color: hsl(222, 14%, 7%);
	// background-color: var(--body-background);
	transition: all 0.2s ease;
}

.js-toggle-track-check {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 5px;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 0;
	opacity: 0;
	transition: opacity 0.25s ease;
}

.js-toggle--checked .js-toggle-track-check {
	opacity: 1;
	transition: opacity 0.25s ease;
}

.js-toggle-track-x {
	position: absolute;
	width: 17px;
	height: 17px;
	left: 5px;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	line-height: 0;
	opacity: 1;
	transition: opacity 0.25s ease;
}

.js-toggle--checked .js-toggle-track-x {
	opacity: 0;
}

.js-toggle-thumb {
	position: absolute;
	top: 8px;
	left: 5px;
	width: 30px;
	height: 32px;
	box-sizing: border-box;
	transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
	transform: translateX(0);
}

.js-toggle--checked .js-toggle-thumb {
	transform: translateX(26px);
	border-color: #19ab27;
}

.magic {
	display: flex;
}

body.dark-mode,
body.dark-mode main * {
	background: rgb(45, 45, 45);
	color: #f5f5f5;
}

$theme-light: (
	gray-100: #f8f9fa,
	gray-200: #F8F8FA,
	icon-filter: none,
	);

$theme-dark: (
	gray-100: rgba(255, 255, 255, 0.1),
	gray-200: rgba(255, 255, 255, 0.2),
	body-font-color: #e9ecef,
	icon-filter: brightness(0) invert(1),
	);

	/* image alt shortcodes */
	img[alt=emoji] {
		width: 30px;
	}

	img[alt=smallgif] {
		height: 400px;
	}

	.markdown img[alt=smallimg] {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1rem;
		width: 50%;
		min-width: 300px;
		padding: 1rem;
		} !important

		img[alt=medal] {
			max-height: 100px;
			} !important

			img {
				margin: 0rem 0;
				border-inline-start: .25rem solid var(--gray-200);
				border-radius: .25rem;
			}

			/* dark theme colors */

			[data-theme=dark] {
				--gray-100: #21262d;
				--gray-200: rgba(255, 255, 255, 0.2);
				--body-background: #000;
				--body-font-color: #f3f3f3;
				--body-font-light: #86868b;
				--body-font-color-invert: #2c3e50;
				--color-link: #84b2ff;
				--color-visited-link: #b88dff;
				--color-blue: rgb(20,142,255);
				--color-brown: rgb(182,152,114);
				--color-gray: rgb(162,162,167);
				--color-green: rgb(60,225,85);
				--color-indigo: rgb(99,97,242);
				--color-orange: rgb(255,169,20);
				--color-pink: rgb(255,65,105);
				--color-purple: rgb(204,101,255);
				--color-red: rgb(255,79,68);
				--color-teal: rgb(100,210,255);
				--color-yellow: rgb(255,224,20);
				--icon-filter: brightness(0) invert(1)
			}

			[data-theme=light] {
				--gray-100: #f8f9fa;
				--gray-200: #F8F8FA;
				--body-background: #FFFFFF;
				--body-font-color: #1d1d1f;
				--body-font-light: #666666;
				--body-font-color-invert: #f3f3f3;
				--color-link: #06c;
				--color-visited-link: #1a0dab;
				--color-blue: rgb(0,112,245);
				--color-brown: rgb(152,122,84);
				--color-gray: rgb(132,132,137);
				--color-green: rgb(30,195,55);
				--color-indigo: rgb(84,82,204);
				--color-orange: rgb(245,139,0);
				--color-pink: rgb(245,35,75);
				--color-purple: rgb(159,75,201);
				--color-red: rgb(245,49,38);
				--color-teal: rgb(90,200,250);
				--color-yellow: rgb(245,194,0);
				--icon-filter: none
			}

			.book-search input {
				background: var(--gray-100);
			}

			.book-search {
				margin-bottom: 2rem;
			}

			.book-search-results ul {
				margin-top: 2rem;
			}

			.book-search small {
				margin-left: 0.4rem;
			}

			/* columns wrap fix */
			.markdown .book-columns>div {
				margin: 1rem 0;
				min-width: 335px;
				padding: 0 1rem;
				margin-right: 0rem;
				margin-top: 0px;
			}

			/* rounded images */
			.markdown img {
				border-radius: 5px;
				margin-top: .5em;
				margin-bottom: .5em;
				height: auto;
				object-fit:cover;
				background-color: var(--gray-100);
				background-size: auto;
				border-radius: 5px;
				padding: 1.5rem;
			}

			@media screen and (max-width: 56rem) {
				.markdown img {
					border-radius: 5px;
					margin-top: .5em;
					margin-bottom: .5em;
					height: auto;
					object-fit:cover;
					background-color: var(--gray-100);
					background-size: auto;
					border-radius: 5px;
					padding: .5rem;
				}
			}

			/* headerbox */
			#headerbox {
				display: flex;
				justify-content: space-between;
			}

			#headerbox .title {
				font-weight: 800;
				margin-top: 2px;
				height: 100%;
			}

			.title h1 {
				margin-left: 10px;
			}

			.icon {
				font-family: 'Whirlybats';
				font-weight: normal;
				font-style: normal;
				font-feature-settings: 'liga';
				display: inline-block;
				white-space: nowrap;
				word-wrap: normal;
				margin-right: 55px;
				letter-spacing: -55px;
				-webkit-font-smoothing: antialiased;
				text-rendering: optimizeLegibility;
				-moz-osx-font-smoothing: grayscale;
			}

			#headerbox .emoji {
				font-family: 'Whirlybats';
				font-weight: normal;
				font-style: normal;
				font-feature-settings: 'liga';
				display: inline-block;
				white-space: nowrap;
				word-wrap: normal;
				margin-right: 55px;
				letter-spacing: -55px;
				-webkit-font-smoothing: antialiased;
				text-rendering: optimizeLegibility;
				-moz-osx-font-smoothing: grayscale;
				float: right;
				font-size: 55px;
				margin-top: 0px;
				margin-bottom: 0px;
				margin-left: 1rem;
			}

			@keyframes whirlyAnimate {
				0%   { font-variation-settings: "anim" 100; }
				100% { font-variation-settings: "anim" 200; }
			}

			#whirlybat {
				animation: whirlyAnimate 2s linear infinite;
			}

			/* fallback */
			@font-face {
				font-family: 'Material Icons';
				font-style: normal;
				font-weight: 400;
				src: url(https://fonts.gstatic.com/s/materialicons/v77/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2) format('woff2');
			}

			.material-icons {
				font-family: 'Material Icons';
				font-weight: normal;
				font-style: normal;
				font-size: 24px;
				line-height: 1;
				letter-spacing: normal;
				text-transform: none;
				display: inline-block;
				white-space: nowrap;
				word-wrap: normal;
				direction: ltr;
				text-rendering: optimizeLegibility;
				-webkit-font-smoothing: antialiased;
			}

			.markdown .tag {
				font-weight: bolder;
				margin-top: 0.5rem;
				margin-bottom: 0.5rem;
			}

			.markdown .sitetag {
				color: var(--color-gray);
				margin-top: 0.5rem;
				margin-bottom: 1rem;
			}

			/* pagination fix */
			ul.pagination {
				display: flex;
				justify-content: center;
				list-style-type: none;
				margin-block-start: 1em;
				margin-block-end: 1em;
				margin-inline-start: 0px;
				margin-inline-end: 0px;
				padding-inline-start: 0px;
			}

			ul.pagination .page-item a {
				padding: 0.7rem;
			}

			/* colour squares */

			.square {
				float: right;
				width: 10px;
				height: 10px;
				margin: 5px;
			}

			/* colors */
			.blue {
				color: var(--color-blue);
			}

			.brown {
				color: var(--color-brown);
			}

			.gray {
				color: var(--color-gray);
			}

			.green {
				color: var(--color-green);
			}

			.indigo {
				color: var(--color-indigo);
			}

			.orange {
				color: var(--color-orange);
			}

			.mail {
				color: #BA1D37;
			}

			.vnr {
				color: #FF564F;
			}

			.pink {
				color: var(--color-pink);
			}

			.purple {
				color: var(--color-purple);
			}

			.red {
				color: var(--color-red);
			}

			.teal {
				color: var(--color-teal);
			}

			.yellow {
				color: var(--color-yellow);
			}

			/*body resize fix*/
			@media screen and (min-width: 400px) {
				.book-page, .book-menu nav {
					padding: 2rem 3rem 2rem 2rem;
				}
				.book-toc nav {
					padding:2.5rem 1rem;
					padding-left:4rem;
					position: fixed;

				}
				.book-toc a {
					transition: all 100ms ease-in-out;
				}
			}
			/* hint colours */

			.markdown .book-hint {
				margin-top: 0.5rem;
				margin-left: 0;
				margin-right: 0;
				color: var(--body-font-color);
				background-color: var(--gray-100);
				border-inline-start: none;
				font-size: 16px;
				line-height: 1.4;
				font-weight: 500;
				letter-spacing: -.01em;
			}

			.book-hint blockquote {
				margin: 1rem 0;
				padding: .5rem 1rem .5rem .75rem;
				border-inline-start: none;
				border-radius: .25rem;
			}

			/* .markdown .book-hint a {
			color: inherit;
			} */

			.markdown .book-hint.panel {
				border-color: var(--gray-200);
				color: var(--body-font-light);
				font-size: 16px;
				line-height: 1.6;
				font-weight: 400;
				letter-spacing: 0em;
			}

			.markdown .book-hint.blue {
				border-color: var(--color-blue);
				background-color: rgba(0,112,245,.1);
			}

			.markdown .book-hint.green {
				border-color: var(--color-green);
				background-color: rgba(30,195,55,.1);
			}

			.markdown .book-hint.orange {
				border-color: var(--color-orange);
				background-color: rgb(245,139,0,.1);
			}

			.markdown .book-hint.mail {
				border-color: #BA1D37;
				background-color: rgb(186, 29, 55,.1);
			}

			.markdown .book-hint.vnr {
				border-color: #FF564F;
				background-color: rgb(255, 86, 79,.1);
			}

			.markdown .book-hint.yellow {
				border-color: var(--color-yellow);
				background-color: rgb(245,194,0,.1);
			}

			.markdown .book-hint.pink {
				border-color: var(--color-pink);
				background-color: rgba(245,35,75,.1);
			}
			.markdown .book-hint.purple {
				border-color: var(--color-purple);
				background-color: rgba(159,75,201,.1);
			}

			.markdown .book-hint.red {
				border-color: var(--color-red);
				background-color: rgba(245,49,38,.1);
			}

			.markdown .book-hint.indigo {
				border-color: var(--color-indigo);
				background-color: rgba(132,64,241,.1);
			}

			.markdown .book-hint.caption {
				margin-top: -1.5rem;
				margin-left: 0;
				margin-right: 0;
				color: var(--body-font-light);
				background-color: var(--body-background);
				border-inline-start: .0rem solid var(--body-background);
				font-size: 12px;
				line-height: 1.33337;
				font-weight: 600;
				letter-spacing: -.01em;
				text-align: center;
			}

			/* image captions */
			img + em {
				font-size: 12px;
			}

			/* infobox title style */
			.markdown details summary {
				font-weight: bolder;
			}

			/* anchor fix */
			.markdown a.anchor:hover {
				color: var(--body-font-color);
			}
			.markdown a.anchor:visited {
				color: var(--color-visited-link);
			}

			/* homepage margins */
			.homepage {
				height: 10vh;
				max-width:100%;
				height:auto;
			}
			@media only screen and (max-width: 600px) {
				.homepage {
					height: 10vh;
					max-width:100%;
					height:auto;
					margin-right: 0;
				}

				/* mobile menu click back to page fix */
				#menu-control:checked~main .book-menu-overlay {
					display: block;
					position: fixed;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
				}

				/* book page padding */
				@media screen and (min-width: 800px) {
					.book-page {
						padding: 2rem 2rem;
					}
				}

				@media screen and (max-width: 56rem) {
					.markdown {
						margin-top: 40px;
					}
				}

				/* button fix */
				.markdown a.book-btn {
					line-height: 1rem;
					padding: 0.5rem;
					text-align: center;
				}

				/* mobile page width */
				.book-page {
					min-width: 20rem;
					flex-grow: 1;
					padding: 1.5rem;
				}

				/*smallimg size fix*/
				@media only screen and (max-width: 600px) {
					img[alt=smallimg] {
						width: 100%;
						} !important
					}
