{{ .Scratch.SetInMap "params" "usePrismJS" (.Site.Params.usePrismJS | default false) }}
{{ .Scratch.SetInMap "params" "enableSiteSearch" (.Site.Params.enableSiteSearch | default false) }}

{{ .Scratch.SetInMap "params" "enablePrismJSLineNo" (.Params.prism_lineno | default .Site.Params.enablePrismJSLineNo | default true) }}
{{ .Scratch.SetInMap "params" "navbarTitle" (.Params.navbar_title | default .Site.Params.navbarTitle | default .Site.Title) }}
{{ .Scratch.SetInMap "params" "author" (.Params.author | default .Site.Params.author) }}
{{ .Scratch.SetInMap "params" "enableOpenGraph" (.Params.open_graph | default .Site.Params.enableOpenGraph | default true) }}
{{ .Scratch.SetInMap "params" "enableTwitterCards" (.Params.twitter_cards | default .Site.Params.enableTwitterCards | default true) }}
{{ .Scratch.SetInMap "params" "enableTOC" (.Params.toc | default .Site.Params.enableTOC | default true) }}
{{ .Scratch.SetInMap "params" "enableZoomingJS" (.Params.zooming_js | default .Site.Params.enableZoomingJS | default true) }}
{{ .Scratch.SetInMap "params" "enableCodeCopy" (.Params.code_copy | default .Site.Params.enableCodeCopy | default true) }}
{{ .Scratch.SetInMap "params" "gaCode" (.Params.ga | default .Site.GoogleAnalytics) }}
{{ .Scratch.SetInMap "params" "footer" (.Params.footer | default .Site.Params.footer) }}
{{ .Scratch.SetInMap "params" "math" (.Params.math | default .Site.Params.enableMathJax | default false) }}
{{ .Scratch.SetInMap "params" "enableCollapsibleTOC" (.Params.collapsibleTOC | default .Site.Params.enableCollapsibleTOC | default false) }}
{{ .Scratch.SetInMap "params" "enableCollapsibleChangelogs" (.Params.collapsibleChangelogs | default .Site.Params.enableCollapsibleChangelogs | default false) }}

<!DOCTYPE html>
<html class="h-full w-full font-sans" lang='{{ .Site.LanguageCode }}'>
  <style>
    @media screen and (max-width: 56rem) {
      #headerbox{
       margin-top: 40px;
      }
    }
    .markdown h2 {
      margin: 0.5rem;
      overflow: hidden;
      max-width: 300px;
    }
    .markdown img {
      max-height:58vh;
      margin: 0px;
    }
    .gt-container {
      display: none;
    }
    .markdown a {
      text-decoration: none;
    }
    .markdown a:hover {
      text-decoration: none;
      opacity: .75;
    }

    .markdown img {
      padding: 0;
    }
  </style>
    {{- partial "head.html" . -}}
      <body class="flex flex-col items-center w-full">
          <main class="w-full sm:w-10/12 md:w-9/12 lg:w-7/12 xl:w-5/12 m-auto px-6">
              {{- partial "header.html" . -}}
              <div id="content" class="my-8">
                  {{ if .Params.changelogs }}
                      {{ $enableCollapsibleChangelogs := (.Scratch.Get "params").enableCollapsibleChangelogs }}
                      {{ partial "collapsible-menu.html" (dict "type" "changelogs" "context" . "enable" $enableCollapsibleChangelogs) }}
                  {{ end }}

                  {{- block "content" . }}{{- end }}

                  {{ if eq .Kind "page" }}
                      {{ if (.Params.disqus | default .Site.DisqusShortname) }}
                          {{- partial "disqus.html" . -}}
                      {{ end }}
                  {{ else }}
                      {{ if (.Params.disqus | default false) }}
                          {{- partial "disqus.html" . -}}
                      {{ end }}
                  {{ end }}
                  {{- if . -}}
                    <ul class="my-2">
                      {{ range sort .Paginator.Pages }}
                        <li class="mb-2 leading-relaxed list-item" style= "
                            min-width: 100%;
                            object-fit:cover;
                            background-color: var(--gray-100);
                            background-size: auto;
                            border-radius: 10px;
                            padding: 1rem;
                            margin: 0.5rem;
                            margin-left: auto;
                            margin-right: auto;">
                          <div style="margin-bottom: 1rem;">
                            <a style="font-size: 1.2rem; font-weight: 700; color: var(--body-font-color); max-width: 75%;" href="{{ .RelPermalink }}" href="{{ .RelPermalink }}" class="text-base border-b-2">
                                {{- .Title -}}
                            </a>
                            <span class="text-xs" style="float: right; padding: 5px; font-weight: 500;">
                                {{- .PublishDate.Format "2006/01/02" -}}
                            </span>
                          </div>
                          {{ partial "post-meta.html" . }}
                        </li>
                      {{ end }}
                    </ul>
                  {{- end -}}
              </div>
              {{ partial "pagination.html" . }}
              <!--{{ template "_internal/pagination.html" . }}-->
              {{- partial "footer.html" . -}}
          </main>
        {{- partial "resources/js.html" . -}}
    </body>
</html>
