// millmint.net HTML styles
// TODO: clean

html {
  overflow-y: scroll;
}

html, button, input, select, textarea,
.pure-g [class *="pure-u"] {
  font-family: system-ui, -apple-system, segoe ui, Roboto, Helvetica, Arial, sans-serif, 'Emoji', apple color emoji, segoe ui emoji;
}

body {
  background-color: var(--hint-bg, var(--gray-light));
}

main {
  @include mx-auto;
  @include my-4;
  @include padding-5;
  @include radius-base;
  @include body-background-color;
  box-sizing: content-box;

  @media only screen and (max-width: 500px) {
    @include my-0;
  }

  >* {
    @include px-4;

    @media only screen and (max-width: 500px) {
      padding: 0;
    }
  }
}

figure {
  margin: 0;

  figcaption {
    @include text-xs;
    @include font-semibold;
    @include padding-2;
    @include radius-base;
    @include highlight-background;
    @include highlight;
    margin: -1rem 0 0.5rem 0;
    text-align: center;
    letter-spacing: -.01em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    a {
      text-decoration: underline;
    }
  }
}

sub, sup {
    @include text-sm;
    @include radius-base;
    top: -0.5em;
    background-color: var(--hint-bg);
    padding: 1px 4px;
}

input {
  background-color: var(--color-background);
  color: $font-color;
  border: none;
}

mark {
  background-color: var(--color-background-mark);
}

video {
  @include radius-base;
  width: 100%;
}

footer {
  margin: 1rem 0 0 0;
}

hr {
  @include highlight;
  @include my-8;
  border: 1px solid var(--gray-light);
}

.page {
  @include my-4;
  @include mx-0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.hidden {
  display: none;
}

.collapsible-menu-wrapper details {
  padding: 0 .25rem;
}

.collapsible-menu-wrapper details summary::-webkit-details-marker {
  float: right;
  margin-top: 8px;
}

::placeholder {
  font-size: 14px;
  @include highlight;
}

/* DETAILS */

details {
  @include my-2;
  @include radius-base;
  @include highlight-background;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border: 0px solid var(--gray-light);
  outline: none;

  summary {
    @include text-base;
    @include font-bold;

    a {
      @include font-color;
    }
  }

  div {
    @include px-6;
  }
}

.collapsible-menu-wrapper details {
  background-color: transparent;
}

// Re-theming the navbar
#navbar a {
  @include highlight;
}

svg {
  color: var(--font-color);
  fill: var(--font-color);
}

body header .navbar-item-dropdown.insection,
body header nav .navbar-item.insection {
  border-color: var(--color-gray);
}

input {
  @include text-sm;
  padding-left: .5rem !important;
  border: 0 !important;
}

a {
  @include highlight;

  &:hover {
    text-decoration: underline;
    color: var(--darker-text, var(--color-gray));
  }
}

/* BUTTONS */
button {
  background: none;
  display: inline-block;
  color: var(--color-gray);
  padding: 5px 0px;
  width: 100%;
  line-height: 1rem;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  font-weight: 600;
  border: 1px solid var(--color-gray);
  border-radius: .25rem;

  &:hover {
    filter: brightness(65%);
  }
}


/* SELECTION */

::selection {
  background: var(--color-gray);
  color: var(--hint-bg);
  filter: none;
}

/* TITLES */

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  @include text-3xl;
}

h2 {
  @include text-2xl;
}

h3 {
  @include text-xl;
}

h4 {
  @include text-lg;
}

h5 {
  @include text-lg;
}

h6 {
  @include text-base;
}

.dark {
  filter: brightness(50%);
  backdrop-filter: brightness(50%);
}

/* PAGE WIDTHS */

@media screen and (min-width: $sm_min_width) {
  main {
    width: $sm_main_width;
  }
}

@media screen and (min-width: $md_min_width) {
  main {
    width: $md_main_width;
  }
}

@media screen and (min-width: $lg_min_width) {
  main {
    width: $lg_main_width;
  }
}

@media screen and (min-width: $xl_min_width) {
  main {
    width: $xxl_main_width;
  }
}

@media screen and (min-width: $xxl_main_width) {
  main {
    width: $xxl_main_width;
  }
}

// Table

table {
  border-collapse: collapse;
  width: 100%;
  tr {
    border: none;
  }
}

td, th {
  border: 1px solid var(--gray-med);
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: var(--gray-light);
}