html {
  @include font-color;
  overflow-y: scroll;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, sans-serif, 'Emoji', apple color emoji;
  font-size: 16px;
  line-height: 1.67059;
}

body {
  @include background-dots;
}

main {
  @include mx-auto;
  @include my-4;
  @include padding-5;
  @include radius-base;
  @include body-background-color;
  box-sizing: content-box;
  max-width: 45rem;

  @media only screen and (max-width: 500px) {
    @include my-0;
  }

  >* {
    @include px-4;

    @media only screen and (max-width: 500px) {
      padding: 0;
    }
  }
}

figure {
  @include margin-0;

  figcaption {
    @include text-xs;
    @include font-semibold;
    @include padding-2;
    @include radius-base;
    @include highlight-background;
    @include highlight;
    margin: -1rem 0 0.5rem 0;
    text-align: center;
    letter-spacing: -.01em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    a {
      text-decoration: underline;
    }
  }
}

sub, sup {
  @include text-sm;
  @include radius-base;
  top: -0.5em;
  background-color: var(--hint-bg);
  padding: 1px 4px;
}

input {
  @include font-color;
  @include body-background-color;
}

video {
  @include radius-base;
  width: 100%;
}

footer {
  margin: 1rem 0 0 0;
}

hr {
  @include highlight;
  @include my-8;
  border: 1px solid var(--gray-light);
}

.page {
  @include my-4;
  @include mx-0;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.hidden {
  display: none;
}

::placeholder {
  font-size: 14px;
  @include highlight;
}

mark {
  @include highlight-background;
  @include font-medium;
}

details {
  @include my-2;
  @include radius-base;
  @include highlight-background;
  @include highlight-border;
  padding: 0.5rem 1rem 0.5rem 1rem;
  outline: none;

  &::marker, ::-webkit-details-marker {
    float: right;
    margin-top: .45rem;
  }

  div {
    @include px-6;
  }
}

#navbar a {
  @include highlight;
}

svg {
  color: var(--font-color);
  fill: var(--font-color);
  height: 100%;
  width: 100%;
}

body header .navbar-item-dropdown.insection,
body header nav .navbar-item.insection {
  border-color: var(--color-gray);
}

input {
  @include text-sm;
  padding-left: .5rem !important;
}

a {
  @include highlight;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: var(--darker-text, var(--color-gray));
  }
}

button {
  @include radius-base;
  @include font-medium;
  @include text-base;
  @include highlight;
  @include padding-1;
  @include highlight-border;
  cursor: pointer;
  background: transparent;

  &:hover {
    @include highlight-background;
    box-shadow: var(--highlight) solid 2px inset;
  }
}

::selection {
  background: var(--color-gray);
  color: var(--hint-bg);
  filter: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  @include text-2xl;
}

h3,
h4,
h5 {
  @include text-xl;
}

h6 {
  @include text-base;
}

.dark {
  filter: brightness(50%);
  backdrop-filter: brightness(50%);
}

@media screen and (min-width: $sm_min_width) {
  main {
    width: $sm_main_width;
    .infobox {
      width: 50%;
      margin-left: 2rem;
    }
  }
}

@media screen and (min-width: $md_min_width) {
  main {
    width: $md_main_width;
  }
}

@media screen and (min-width: $lg_min_width) {
  main {
    width: $lg_main_width;
  }
}

@media screen and (min-width: $xl_min_width) {
  main {
    width: $xxl_main_width;
  }
}

@media screen and (min-width: $xxl_main_width) {
  main {
    width: $xxl_main_width;
    table {
      width: 100%;
    }
  }
  .portrait {
    display: none!important;
  }
}

// basic markdown table

table.mc-table {
  @include my-6;
  table-layout: auto;
  border-collapse: collapse;
  overflow-x: auto;
  width: 100%;

  td, th {
    @include px-3;
    @include py-2;
    border: 1px solid var(--color-border);
  }

  tr:nth-child(even) {
    background: var(--gray-light);
  }
}

// infobox table

table.infobox {
  @include text-sm;
  @include my-4;
  border: 1px solid var(--highlight);
  //border-collapse: collapse;

  th {
    @include font-bold;
    text-align: center;
  }

  tr {
    border: none;
  }

  td {
    text-align: left;
    vertical-align: top;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }

  .constituent {
    @include highlight-background;
  }

  img {
    @include my-0;
  }
}