// Base color palette
$gray-scale: (
  ultralight: #f8f9fa,
  light: #f0f0f6,
  medium: #737373,
  dark: #262626
);

// Theme colors
$theme-colors: (
  sunflower: rgb(234, 147, 101),  // Renamed from yellow
  yellow: #EA9365,
  blue: rgb(28, 123, 205),
  brown: rgb(162, 132, 94),
  cyan: rgb(50, 173, 230),
  gray: rgb(95, 95, 105),
  green: rgb(92, 185, 85),
  indigo: rgb(88, 86, 214),
  mint: rgb(0, 199, 190),
  orange: rgb(237, 122, 69),
  pink: rgb(225, 28, 110),
  purple: rgb(155, 67, 199),
  red: rgb(255, 66, 69),
  teal: rgb(48, 176, 199),
  test: rgb(0,0,0)
);

// Brand colors
$brand-colors: (
  millmint: rgb(222, 24, 87),
  vekllei: rgb(238, 119, 66),
  marine: rgb(29, 123, 205),
  land: rgb(193, 84, 45),
  aero: rgb(245, 60, 89)
);

// Ministry colors
$ministry-colors: (
  commerce: rgb(221, 154, 52),
  commons: rgb(255, 86, 79),
  commonwealth: rgb(229, 56, 143),
  culture: rgb(31, 167, 82),
  defence: rgb(237, 34, 13),
  foreignaffairs: rgb(119, 63, 222),
  industry: rgb(37, 89, 167),
  labour: rgb(161, 43, 46),
  landscape: rgb(19, 172, 67),
  lightandwater: rgb(86, 163, 187)
);

// Parliament colors
$parliament-colors: (
  health: rgb(245, 81, 112),
  education: rgb(50, 134, 220),
  law: rgb(255, 162, 86),
  bread-roses: rgb(235, 41, 96),
  state: rgb(205, 80, 159),
  milk-honey: rgb(240, 76, 43)
);

// Theme configuration
:root {
  // Base colors
  --main-background: #fff;
  --color-background: #fff;
  --font-color: rgb(51, 65, 85);
  
  // Gray scale
  @each $key, $value in $gray-scale {
    --gray-#{$key}: #{$value};
  }
  
  // Theme colors
  @each $name, $color in $theme-colors {
    --color-#{$name}: #{$color};
  }
  
  // Brand colors
  @each $name, $color in $brand-colors {
    --color-#{$name}: #{$color};
  }
  
  // Ministry colors
  @each $name, $color in $ministry-colors {
    --color-#{$name}: #{$color};
  }

  // Ministry colors
  @each $name, $color in $parliament-colors {
    --color-#{$name}: #{$color};
  }
}

// Dark theme
[data-theme="dark"] {
  --color-background: #1a1b28;
  --main-background: #1a1b28;
  --color-text: #e7e7f1;
  --font-color: #e7e7f1;
  
  // Dark mode specific gray palette
  --gray-ultralight: #1e1f2d;
  --gray-light: #2a2b38;
  --gray-medium: #9090a0;
  --gray-dark: #e7e7f1;
  
  --color-text-secondary: var(--gray-medium);
  --color-border: var(--gray-dark);
  --darker-text: rgba(161, 161, 166, 1);
  --highlight: #d7d7dd;
  --highlight-background: rgba(215, 215, 221, 0.1);
}