// millmint.net main styles
// TODO: clean

// heading anchors
h1,
h2,
h3,
h4,
h5,
h6 {
	a.anchor {
		@include highlight;
		opacity: 0;
		font-weight: normal;

		&:hover {
			opacity: initial;
			text-decoration: none;
		}

		&:focus {
			opacity: initial;
		}
	}
}

// page (main text body) styles

.page {
	a {
		@include highlight;
	}
}

// tabs
.tabs {
	@include px-4;
	@include py-2;
	@include radius-base;
	@include highlight-border;
	@include highlight-background;
	line-height: 1.5;
	letter-spacing: -.01em;

	overflow: hidden;

	display: flex;
	flex-wrap: wrap;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: .5rem;
	}

	label {
		@include padding-2;
		display: inline-block;
		border-bottom: 1px transparent;
		cursor: pointer;
	}

	.tabs-content {
		@include padding-2;
		order: 999; //Move content blocks to the end
		border-top: 1px solid var(--highlight-background);
		display: none;
	}

	input[type="radio"] {
		display: none;

		&:checked+label {
			border-bottom: 2px solid var(--color-gray);

			&+.tabs-content {
				display: block;
			}
		}
	}
}

/* fullscreen-tabs */

.fullscreen-tabs {
	@include padding-0;
	@include radius-base;
	background-color: var(--body-background);
	line-height: 1.5;
	letter-spacing: -.01em;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;

	label {
		@include padding-2;
		display: inline-block;
		border-bottom: 1px transparent;
		cursor: pointer;
		box-sizing: border-box;
		background: var(--gray-light);
		padding: 0.25rem 1rem 0.25rem 0.75rem;
		width: 50%;
		text-align: center;
	}

	.fullscreen-tabs-content {
		@include padding-2;
		order: 999; //Move content blocks to the end
		display: none;
		width: 100%;
	}

	input[type="radio"] {
		display: none;
		background: var(--gray-light);

		&:checked+label {
			border-bottom: 2px solid var(--color-gray);

			&+.fullscreen-tabs-content {
				display: block;
			}
		}
	}
}

// buttons

button.navbutton {
	height: 100%;
	padding: .5rem;
	cursor: pointer;
	outline: inherit;
	font-size: 18px;

	&:hover {
		color: inherit;
	}

	.navicon {
		margin: 0;
	}
}

button.bulletbutton {
	@include text-sm;
	@include font-bold;
	@include radius-base;
	padding: 0.15rem;
	margin-top: 0rem;
	margin-left: 6px;
	list-style: none;
	width: fit-content;
	background-color: var(--gray-light);
	border: hidden;

	&:hover {
		filter: brightness(100%);
		text-decoration: underline;
	}
}

span.tag {
	@include text-sm;
	@include font-bold;
	@include radius-base;
	line-height: .8rem !important;
	padding: 0.1rem 0.25rem;
	list-style: none;
	width: fit-content;
	background-color: var(--color-gray);
	color: var(--body-background);
	border: hidden;

	.gray {
		background-color: var(--gray-med);
	}

	.price {
		margin-top: 0;
		margin-left: 6px;
	}
}

/* sidenotes */
.sidenote {
	padding-right: 2 * .5rem;
	margin-bottom: 1.5rem;
	margin-left: 2.5rem;
	margin-right: 2.5rem;
	border-right: 2px solid var(--color-gray);
	color: var(--color-gray);
	font-style: italic;
	font-size: 0.8rem;
	opacity: 75%;
	text-align: right;
	transform: translateX(-85%);

	p {
		margin: 0;
	}
}

.sidenote-hover {
	border-color: var(--color-gray);
	color: var(--color-gray);
}

@media (max-width: 1599px) {
	.sidenote {
		max-width: 200px !important;
	}
}

// icons
.icon {
	@include emoji;
	@include font-normal;
}

.smallicon {
	@include emoji;
	@include font-normal;
}

.bulleticon {
	@include emoji;
	@include highlight;
	@include font-normal;
}

.slink {
	@include radius-base;
	padding: 2.5px;
}

.bamum {
	font-family: 'Bamum';
	@include highlight;
	@include font-normal;
}

@keyframes whirlyAnimate {
	0% {
		font-variation-settings: "anim" 100;
	}

	100% {
		font-variation-settings: "anim" 200;
	}
}

#whirlybat {
	animation: whirlyAnimate 2s linear infinite;
}

.pullquote {
	@include highlight;
	@include text-3xl;
	@include my-8;
	font-style: italic;
}

.no-link {
	pointer-events: none;
	cursor: default;
}