$sm_min_width: 35rem;
$md_min_width: 45rem;
$lg_min_width: 75rem;
$xl_min_width: 100rem;
$xxl_min_width: 120rem;

$sm_main_width: 90%;
$md_main_width: 70%;
$lg_main_width: 45%;
$xl_main_width: 35%;
$xxl_main_width: 30%;
