$sm_min_width: 0rem;
$md_min_width: 500px;
$lg_min_width: 50rem;
$xl_min_width: 100rem;
$xxl_min_width: 120rem;

$sm_main_width: 90%;
$md_main_width: 85%;
$lg_main_width: 70%;
$xl_main_width: 40%;
$xxl_main_width: 35%;
