$sm_min_width: 35.5rem;
$md_min_width: 48rem;
$lg_min_width: 75rem;
$xl_min_width: 90rem;
$xxl_min_width: 120rem;

$sm_main_width: 90%;
$md_main_width: 70%;
$lg_main_width: 50%;
$xl_main_width: 40%;
$xxl_main_width: 30%;
