.info {
	@include margin-0;
	display: grid;
	grid-template-columns: 0fr 1fr .35fr fit-content(20%);
	grid-auto-rows: minmax(min-content, max-content);
	gap: 0;
	grid-auto-flow: column;
	grid-template-areas:
		"title title emoji"
		"date date emoji"
		"icon headcrumbs emoji"
		"icon category emoji";
	margin-bottom: 2rem;
}

.box-info {
	display: grid;
	grid-template-columns: 0fr 1fr .35fr fit-content(20%);
	grid-template-rows: 1fr;
	gap: 0;
	grid-auto-flow: row;
	grid-template-areas:
		"title title emoji";

	>.title {
		align-content: start;
	}
}

.headcrumbs {
	@include text-sm;
	@include my-0;
	display: grid;
	grid-area: headcrumbs;
	align-content: end;

	li {
		display: inline;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ol {
		margin: 0;
		padding: 0;
	}

	a {
		@include font-color;
	}

	.crumb {
		display: inline;
	}

	.seperator {
		display: inline;
		@include highlight;
		padding-left: .25rem;
		padding-right: .15rem;
	}
}

.page-info {
	border-radius: 5px;
}

.title {
	@include font-bold;
	@include font-color;
	grid-area: title;
	display: grid;
	font-size: 2rem;
	align-content: center;
	line-height: 1.25;
	margin: 1rem 0 0.5rem 0;
}

.emoji {
	grid-area: emoji;
	display: grid;
	justify-items: end;
	align-content: center;
	font-family: 'Whirlybats';
	font-weight: normal;
	font-style: normal;
	font-feature-settings: 'liga';
	white-space: nowrap;
	word-wrap: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size: 65px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.date {
	@include text-sm;
	@include font-medium;
	@include highlight;
	grid-area: date;
	margin: 0;
}


.icon-container {
	grid-area: icon;
	height: auto;
	width: auto;
	justify-content: center;
	align-content: center;
	margin: .25rem 0 .25rem 0;
}

.icon {
	@include emoji;
	@include highlight;
	@include radius-base;
	display: grid;
	grid-area: icon;
	height: auto;
	width: auto;
	justify-content: center;
	align-content: center;
	margin-right: .5rem;
	font-size: 2rem;
}

.smallicon {
	@include emoji;
	@include font-normal;
}

.bulleticon {
	@include emoji;
	@include highlight;
	@include font-normal;
}

.small-date {
	@include text-xs;
	margin: 0;
	text-align: left;
	vertical-align: middle;
}

.copyright {
	@include margin-0;
	@include text-xs;
	text-align: center;
	color: var(--color-text-footer);
}

.redditlink {
	@include margin-0;
	@include text-xs;
	text-align: center;
	color: var(--color-text-footer);
}

@keyframes whirlyAnimate {
	0% {
		font-variation-settings: "anim" 100;
	}

	100% {
		font-variation-settings: "anim" 200;
	}
}

#whirlybat {
	animation: whirlyAnimate 2s linear infinite;
}

.pill {
	@include px-1;
	@include text-sm;
	@include highlight;
	margin-left: auto;
	margin-right: 0;
	line-height: 1rem;
	width: max-content;
	grid-area: pill;
	display: grid;
	justify-content: space-between;
	grid-auto-columns: minmax(min-content, max-content);
	grid-auto-flow: column;
	grid-template-areas:
		"pill-category pill-icon pill-title";
	border: var(--color-gray) solid 1px;
	border-radius: 5px;
}

// MillMint "Pill"

.pill-icon {
	@include emoji;
	display: grid;
	grid-area: pill-icon;
	font-size: 17px;
	line-height: 0;
	align-content: center;
}

.pill-title {
	@include font-bold;
	display: grid;
	grid-area: pill-title;
	text-transform: uppercase;
}

.pill-category {
	display: grid;
	grid-area: pill-category;
	text-transform: capitalize;
}

.footer {
	display: flex;
	justify-content: space-between;
}