.article-info {  
  display: grid;
  grid-template-columns: 0fr 1fr .35fr fit-content(20%);
  grid-template-rows: 1fr 10% 20% 20%;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas: 
  	"title title emoji"
  	"date date emoji"
  	"icon tag emoji"
  	"icon category emoji"; 
  margin: 0 0 2rem 0;
}

.article-category a {
	color: var(--dark-title-text);
}
  
.box-info {  
	display: grid;
	grid-template-columns: 0fr 1fr .35fr fit-content(20%);
	grid-template-rows: 1fr;
	gap: 0;
	grid-auto-flow: row;
	grid-template-areas: 
		"title title emoji";
	> .title {
		align-content: start;
	}
}

.title {
	@include padding-2;
	height: 100%;
	width: 100%;
	padding-left: 0;
	grid-area: title;
	display: grid;
	align-content: center;
	margin: 0;
	line-height: 1.2;
}

.emoji {
	grid-area: emoji;
	display: grid;
	justify-items: end;
	align-content: center;
	font-family: 'Whirlybats';
	font-weight: normal;
	font-style: normal;
	font-feature-settings: 'liga';
	white-space: nowrap;
	word-wrap: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size: 65px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.date {
	@include text-sm;
	@include font-medium;
	@include highlight;
	grid-area: date;	
	margin: 0;
}


.icon-container {
	grid-area: icon;
	height: auto;
	width: auto;
	justify-content: center;
	align-content: center;
	margin: .25rem 0 .25rem 0;
}

.icon {
	@include emoji;
	@include highlight;
	@include radius-base;
	display: grid;
	grid-area: icon;
	height: auto;
	width: auto;
	justify-content: center;
	align-content: center;
	margin-right: .25rem;
	font-size: 2rem;
}

.smallicon {
	@include emoji;
	@include font-normal;
}

.bulleticon {
	@include emoji;
	@include highlight;
	@include font-normal;
}

.edit-date {
	@include text-xs;
	@include highlight;
	@include padding-2;
	margin: 0;
	text-align: center;
	vertical-align: middle;
}

@keyframes whirlyAnimate {
	0%   { font-variation-settings: "anim" 100; }
	100% { font-variation-settings: "anim" 200; }
}

#whirlybat {
	animation: whirlyAnimate 2s linear infinite;
}