.article-info {  
  display: grid;
  grid-template-columns: 0fr 1fr .35fr fit-content(20%);
  grid-template-rows: 1fr 10% 20% 20%;
  gap: 0;
  grid-auto-flow: row;
  grid-template-areas: 
  	"title title emoji"
  	"date date emoji"
  	"icon tag emoji"
  	"icon category emoji"; 
  margin: 0 0 2rem 0;
}

.article-category a {
	color: var(--dark-title-text);
}

  
.box-info {  
	display: grid;
	grid-template-columns: 0fr 1fr .35fr fit-content(20%);
	grid-template-rows: 1fr;
	gap: 0;
	grid-auto-flow: row;
	grid-template-areas: 
		"title title emoji";
	> .title {
		align-content: start;
	}
}

.title {
	height: 100%;
	width: 100%;
	padding: .25rem;
	padding-left: 0;
	grid-area: title;
	display: grid;
	align-content: center;
	margin: 0;
	line-height: 1.2;
}

.emoji {
	grid-area: emoji;
	display: grid;
	justify-items: end;
	align-content: center;
	font-family: 'Whirlybats';
	font-weight: normal;
	font-style: normal;
	font-feature-settings: 'liga';
	white-space: nowrap;
	word-wrap: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-size: 65px;
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

.date {
	grid-area: date;	
    font-size: 14px;
	color: var(--color-gray);
	margin: 0;
    font-weight: 500;
}


.icon-container {
	grid-area: icon;
	height: auto;
	width: auto;
	justify-content: center;
	align-content: center;
	margin: .25rem 0 .25rem 0;
}

.icon {
	display: grid;
	grid-area: icon;
	height: auto;
	width: auto;
	font-size: 1.7rem;
	margin-right: .25rem;
	justify-content: center;
	align-content: center;
	border-radius: .25rem;
	font-family: 'Emoji'!important;
	color: var(--color-gray);
}

.smallicon {
	font-family: 'Emoji'!important;
	font-weight: normal;
}

.bulleticon {
	font-family: 'Emoji'!important;
	font-weight: normal;
	color: var(--color-gray);
}

@keyframes whirlyAnimate {
	0%   { font-variation-settings: "anim" 100; }
	100% { font-variation-settings: "anim" 200; }
}

#whirlybat {
	animation: whirlyAnimate 2s linear infinite;
}