.breadcrumbs {
  @include font-bold;
  background-color: var(--gray-100);
  width: 100%;
  padding: 0.25rem 1rem 0.25rem 0.75rem;
  box-sizing: border-box;
  border-radius: 0.25rem;
  margin: 1rem 0 1rem 0;
  list-style: none;
  a {
    color: var(--color-text);
    border-bottom: 1px solid transparent;

    &:hover {
      border-bottom-color: var(--color-text-secondary);
    }
  }

  li {
    display: inline;
  }
}

/* breadcrumbss */

/* Style the list */

/* Display list items side by side */
.breadcrumbs li {
  display: inline;
  margin-top: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  color: var(--body-font-color);
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.025em;
  text-align: center;
}

.breadcrumbs .home {
  display: inline;
  margin-top: 0.5rem;
  margin-left: 0;
  margin-right: 0;
  color: var(--color-gray);
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.01em;
  text-align: center;
}

/* Add a slash symbol (/) before/behind each list item */
.breadcrumbs li + li:before {
  padding: 8px;
  color: var(--font-color);
  content: "›";
}

/* Add a color to all links inside the list */
.breadcrumbs li a {
  text-decoration: none;
  color: var(--body-font-color);
}

/* Add a color on mouse-over */
.breadcrumbs a:hover {
  text-decoration: none;
  filter: brightness(50%);
}

.top-breadcrumbs .breadcrumbs {
  margin: -.25rem 0;
  background-color: transparent;
  border: 1px solid var(--color-gray);
  filter: brightness(75%);
  line-height: 1rem;
  > li + li:before {
    padding: 8px;
    color: var(--color-gray);
    content: "›";
  }
  > li a {
    color: var(--color-gray);
  }
}
