.breadcrumbs {
  @include font-bold;
  @include my-4;
  @include radius-base;
  background-color: var(--gray-light);
  padding: 0.25rem 1rem 0.25rem 0.75rem;
  box-sizing: border-box;
  
  li {
    @include text-sm;
    @include font-medium;
    display: inline;
    margin: 0.5rem 0 auto 0;
    letter-spacing: -0.025em;
    color: var(--font-color);
    &+:before {
      padding: 8px;
      content: "›";
    }
  }

  a {
    color: var(--font-color);
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom-color: var(--font-color);
      text-decoration: none;
    }
  }
}

.headcrumbs {
  @include text-sm;
  @include my-0;
  display: grid;
  grid-area: headcrumbs;
  align-content: end;

  li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
    &+:after {
      @include highlight;
      padding: 0 .25rem 0 .15rem;
      content: "/";
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  a {
    @include font-color;
  }

  .seperator {
    display: inline;
    @include highlight;
    padding-left: .25rem;
    padding-right: .15rem;
  }
}