/* drop cap style 
:not(blockquote, ol, li, .outline, .section) > p:first-of-type::first-letter  {
	font-size: 84px;
	line-height: 1;
	font-weight: 700;
	letter-spacing: -.015em;
	float: left;
	margin-right: 8px;
	line-height: .89286;
	initial-letter: 2;
} */

/* outline style */
.outline {
	padding: 0.5em 1em 0.7em;
	border: 1px solid rgba(0,0,0,0.08);
	margin-top: 1.5em;
	background-color: rgba(0,0,0,0.03);
	border-radius: 3.5px;
	display: block;
}

.outline h1, .outline h2, .outline h3, .outline h4, .outline h5, .outline h6 {
	margin-top: .5rem!important;
}

.outline li strong {
	font-weight: 600;
}
	
.outline blockquote {
	margin: 1rem 0;
	padding: .5rem 1rem .5rem .75rem;
	border-inline-start: none;
	border-radius: .25rem;
}

/* section style */
.section {
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: var(--body-font-color);
	background-color: $gray-100;
	opacity: .85;
	border-inline-start: none;
	line-height: 1.5;
	letter-spacing: -.01em;
	border-radius: 5px;
	padding: 1rem;
	font-style: normal;
}
	
.section blockquote {
	margin: 1rem 0;
	padding: .5rem 1rem .5rem .75rem;
	border-inline-start: none;
	border-radius: .25rem;
}

.section h1, .section h2, .section h3, .section h4, .section h5, .section h6 {
	margin-top: .5rem!important;
	color: var(--title-text);
}

/* section box style */

.box {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-gray);
  line-height: 1.5;
  letter-spacing: -.01em;
  border-radius: 5px;
  padding: 1rem;
  font-style: normal;
}

.box h1, .box h2, .box h3, .box h4, .box h5, .box h6 {
  margin-top: .5rem!important;
  color: var(--title-text);
}

.headerlink a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray);
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

.headerlink a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.headerlink:hover {
  filter: brightness(85%);
}

.spanlink {
	padding: 0.15rem;
	font-size: 15px;
	font-weight: bold;
	border-radius: 0.25rem;
	margin-top: 0rem;
  margin-left: 6px;
	list-style: none;
	background-color: var(--gray-100);
	width: 100%;
}
.spanlink:hover {
	text-decoration: underline;
}

/* article links -- footer links to pages adjacent to current page */

.story-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas: "alignleft printlink alignright";
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  letter-spacing: -.01em;
}
.alignleft a:after, .alignright a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray);
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}

/*
.alignleft a:hover:after, .alignright a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
*/

.alignleft a:hover, .alignright a:hover {
  filter: brightness(65%);
  text-decoration: underline;
}
.alignleft {
  grid-area: alignleft;
  text-align: left;
  color: var(--color-gray);
}
.alignright {
  grid-area: alignright;
  text-align: right;
  color: var(--color-gray);
}
.alignleft a {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;
}
.alignright a {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;
}

/* original article button at the bottom of posts */
a.article-button:hover {
  filter: brightness(65%);
}

a.article-button {
  display: inline-block;
  color: var(--color-gray);
  padding: 5px 0px;
  width: 100%;
  line-height: 1rem;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  font-weight: 600;
  border: 1px solid var(--color-gray);
  border-radius: .25rem;
}

.footnotes {
  font-size: 14px;
  padding: 20px 0 0 0;
}

ol {
  margin-left: 0;
}

/* sidenotes */
.sidenote {
    padding-right: 2 * .5rem;
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    border-right: 2px solid var(--color-gray);
    color: var(--color-gray);
    font-style: italic;
    font-size: 0.8rem;
    opacity: 75%;
    text-align: right;
    transform: translateX(-85%);
}

.sidenote-hover {
    border-color: var(--color-gray);
    color: var(--color-gray);
}