// millmint.net dictionary
// TODO: clean

.dfn {
	font-style: inherit;
	text-decoration: underline;
	text-decoration-style: dashed;
	text-decoration-color: var(--color-gray);
	position: relative;

	.tooltip {
		// What a clusterfuck of CSS
		--border: white;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, -10px);
		background: var(--hint-bg, var(--gray-light));
		border-radius: 4px;
		white-space: nowrap;
		border: 3px solid var(--border);
		font-size: 0.9rem;
		color: var(--font-color);
		opacity: 0;
		transition: opacity 300ms;
		pointer-events: none;
		z-index: 10;
		user-select: none;

		.description,
		.title {
			margin: 0;
			width: 100%;
			padding: 5px 10px;
			box-sizing: border-box;
			display: block;
			text-align: left;
			font-style: normal;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		.description {
			font-weight: normal;
		}

		.title {
			font-weight: bold;
			background: var(--bg, var(--bg-alt));
			font-size: 0.9rem;
		}

		&::before {
			content: '';
			display: block;
			position: absolute;
			width: 0.7rem;
			height: 0.7rem;
			bottom: calc(-0.35rem - 1px);
			left: 50%;
			transform: translateX(-50%) rotate(45deg);
			border-bottom-right-radius: 4px;
			background: var(--hint-bg, var(--gray-light));
			border-right: 1px solid var(--border);
			border-bottom: 1px solid var(--border);
		}

		&.tooltip-long {
			width: 200px;
			white-space: initial;
		}
	}

	&:hover .tooltip {
		opacity: 1;
	}

}