.dolls {
	display: grid;
	gap: 20px;
	grid-template-columns: 230px 1.5fr;

	.dolls-loading {
		grid-column: 1 / -1;
	}

	.current-page {
		display: block;
		width: 100%;
		text-align: center;
		font-size: 0.9rem;
	}
}

.dolls-left-side {
	position: sticky;
	top: 50px;

	button {
		margin-bottom: 10px;
	}
}

.dolls-canvas {
	width: 100%;
	aspect-ratio: 8/12;
	border-radius: 6px;
	background: var(--gray-light);
	margin-bottom: 20px;
	position: relative;

	.dolls-canvas-inner {
		width: 100%;
		height: 100%;
	}

	.layer,
	.layer img,
	.layer .mask {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--bg);
	}

	.layer img {
		@include padding-0;
		object-fit: cover;
		visibility: visible;
		margin: 0 !important;
		max-height: initial;
		opacity: 1;
		transition: none;
		animation: none;
		user-select: none;
		pointer-events: none;
	}

	.layer .mask {
		mask-image: var(--url);
		-webkit-mask-image: var(--url);
		mask-size: 100% 100%;
		-webkit-mask-size: 100% 100%;
	}
}

.dolls-templates {
	display: none;
}

.dolls-nav {
	display: grid;
	grid-template-columns: auto 1fr auto;
	justify-items: center;
	gap: 10px;
	margin-bottom: 10px;

	.nav-nav-button {
		cursor: pointer;
		border: 0;
		background: var(--hint-bg);
		color: var(--color-gray);
		width: 30px;
		height: 30px;
		border-radius: 4px;
		transition: opacity 300ms;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;

		&.disabled {
			opacity: 0;
		}
	}

	.nav-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 10px;
	}

	.dolls-nav-item {
		color: inherit;
		border: 0;
		background: transparent;
		border-radius: 4px;
		padding: 4px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		display: flex;
		gap: 10px;
		justify-content: center;

		.icon {
			font-size: 1rem;
			color: inherit;
			width: auto;
			height: auto;
			margin-right: 0;
		}

		.text {
			display: none;
		}

		&.active {
			background: var(--hint-bg);
			color: var(--color-gray);

			.icon {
				filter: brightness(50%);
			}
		}
	}
}

.dolls-editor hr {
	border-color: var(--gray-light);
	border-bottom: 0;
	margin: 1rem 0;
	margin-top: 2px;
}

.color-options {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 30px;

	&.color-hidden {
		display: none;
	}

	.color-circle {
		cursor: pointer;
		width: 22px;
		height: 22px;
		position: relative;
		background: var(--color, var(--bg-alt));
		border-radius: 100px;
		position: relative;

		&.active::after {
			content: "";
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			// Width + 2px border * 2
			width: calc(22px + 4px);
			height: calc(22px + 4px);
			border: 2px solid var(--color, var(--color-gray));
			border-radius: 50%;
		}

		&.reset-circle::before {
			content: "";
			display: block;
			width: 100%;
			height: 3px;
			background: var(--color-gray);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}

	> * {
		margin: 4px;
	}
}

.doll-options {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
	gap: 10px;

	.doll-option {
		cursor: pointer;
		border-radius: 6px;
		border: 1px solid var(--gray-light);
		padding: 10px;
		font-weight: 500;
		text-align: center;
		font-size: 0.8rem;
		display: flex;
		flex-direction: column;

		img {
			display: block;
			width: 3rem;
			height: 3rem;
			background: var(--bg-alt);
			border: 0;
			visibility: visible;
			margin-bottom: 5px;
		}

		&.active {
			border-color: var(--hint-bg);
			background: var(--hint-bg);
			color: var(--color-gray);
			font-weight: bold;
		}
	}
}

@media (max-width: 700px) {
	.dolls-canvas {
		width: 200px;
	}

	.dolls {
		grid-template-columns: 100%;
	}
}

.dolls-multiple-buttons {
	display: flex;
	gap: 20px;
}

.doll-img-container {
	display: flex;
	justify-content: center;

	> canvas {
		height: 300px;
		margin: 0 auto;
		background: var(--gray-light);
		border-radius: 6px;
		margin-bottom: 10px;
	}
}
