// Animation
@keyframes scroll {
	0% { transform: translateX(0); }
	// Make this value match Value 2
	100% { transform: translateX(calc(-55px * 18.66))}
}


// Styling
.slider {
	@include highlight-background;
	overflow: hidden;
	white-space: nowrap;
	position: relative;

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	img {
		margin: 0 5px;
		@include radius-base;
		@include padding-0;
		width: 50px;
		display: inherit;
	}

	.slide-track {
		margin-top: .5rem;
		display: inline-block;
		animation: scroll 15s linear infinite;
		// Value 2
		width: calc(55px * 18.66);
	}
}