header {
  display: grid; 
  align-items: center;
  grid-template-columns: 1fr fit-content(33%); 
  grid-template-rows: 1fr; 
  grid-template-areas: 
    "brand search"; 
  margin: 16px 0;
}

.brand {
  align-items: center;
  min-width: 8rem;
  grid-area: brand;
}

.brand-title {
  @include text-3xl;
  @include font-bold;
  filter: brightness(25%);
}

.brand-emoji {
  font-family: 'Whirlybats';
  font-size: 30px!important;
  font-weight: normal;
  font-style: normal;
  font-feature-settings: 'liga';
  letter-spacing: -26px;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  filter: brightness(100%)!important;
}

.toolbox {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  .toolbox-btn {
    display: flex;
    cursor: pointer;

    &:hover {
      color: var(--color-text-secondary);
    }
  }

  .dropdown-wrapper {
    .dropdown-btn.pure-menu-link {
      color: unset;
    }

    .dropdown-btn {
      display: flex;
      align-items: center;
      padding: 0;

      &:hover {
        background-color: unset;
      }

      &::after {
        content: "";
        padding: 0;
      }

      .dropdown-desc {
        @include text-sm;
        margin-left: 0.35rem;
      }
    }
  }
}

article > *:first-child {
  margin-top: 2rem;
}

body > canvas:not(#HeaderCanvas) {
  /*Hide annoying Vibrant canvas*/
  display: none;
}

/* fix menu dropdown bg colour */
body header #navbar .navbar-dropdown li {
  background-color: var(--body-background);
}

body header #navbar .navbar-dropdown li:hover {
  background-color: var(--body-background);
  filter: brightness(98%);
}

/* hide menu button */
header .menu-btn {
  display: none;
}

@media (max-width: 600px) {
    header {
        margin-top: 0rem;
    }
}
