// millmint.net images
// TODO: clean
// TODO: remove all [smallimg] on site

img {
	@include my-4;
	@include radius-base;
	display: block;
	visibility: hidden;
	max-width: 100%;
}

.portrait {
	border-radius: 50%;
	padding: .25rem;
	background-color: var(--highlight-background);
	border: 1px solid var(--highlight);
	&:hover::before {
	  	transform: scale(1.1);
	  	box-shadow: 0 0 15px var(--highlight);
	}
	&:hover {
	  	box-shadow: 0 0 5px var(--highlight);
	  	text-shadow: 0 0 5px var(--highlight);
	}
}

// smallimg being phased out
article img[alt~="smallimg"] {
	@include my-4;
	@include radius-base;
	width: 50%;
	min-width: 300px;
	padding: 0.5rem;
	border-radius: 5px;
}

// image replacement
.smallimg {
	@include my-4;
	@include radius-base;
	width: 50%;
	min-width: 300px;
	padding: 0.5rem;
	border-radius: 5px;
}

article img[alt~="crest"] {
	margin-bottom: 1rem;
	width: 25%;
	min-width: 300px;
	padding: 0.5rem;
	border-radius: 5px;
}

@media (min-width: 1600px) {
	article img[alt~="img"] {
		width: 140%;
		max-width: 140%;
		margin-left: -20%;
		margin-right: -20%;
		padding: 0.5rem;
		background-color: var(--main-background);
		box-sizing: border-box;
	}
}

// home image
.img-background {
	position: absolute;
	height: 100vh;
	width: 100%;
	margin: auto;
	top: 0;
	z-index: -1;
}

// image fade in (fade.js)
.fadein {
	-webkit-animation: animat_show 0.8s;
	animation: animat_show 0.8s;
}

.fadein,
.show-all-images img,
.visible-img {
	visibility: visible !important;
}

@-webkit-keyframes animat_show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
