.meta {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
    "date posttag";
}

img.page {
  @include radius-base;
  width: auto;
  height: auto;
  object-fit: contain;
  background-color: transparent;
}

/*.article-tag {
  @include text-sm;
  @include font-bold;
  display: flex;
  grid-area: tag;
  width: 100%;
  margin-top: .25rem;
  align-items: center;
  text-transform: uppercase;
}*/

.article-category {
  @include text-sm;
  @include font-semibold;
  grid-area: category;
  text-transform: capitalize;

  a {
    color: $font-color;
  }
}

.tag {
  padding: 0;
  text-transform: capitalize;

  >a {
    border: 1px solid var(--color-gray);
    padding: 5px;
    border-radius: .25rem;
    font-weight: 600;
    color: var(--color-gray);

    &:hover {
      text-decoration: underline;
    }
  }
}

.boxtag {
  margin-top: -2.8rem;
  margin-bottom: 0;
  margin-left: 1rem;
  display: inline-block;
  float: right;
  color: var(--color-gray);
  background-color: var(--body-background);
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -.01em;
  padding: .25rem;
  font-style: normal;
  font-weight: bold;
}