.meta {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row dense;
  grid-template-areas:
	"date posttag";
}

.feature-image {
  object-fit: contain;
  height:auto;
  border-radius: 5px;
  background-color: transparent;
}

.article-tag {
  @include text-sm;
    grid-area: tag;
    font-weight: bolder;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: .25rem;
}

.article-category {
  @include text-sm;
    grid-area: category;
    text-transform: capitalize;
    color: $gray;
    font-weight: 600;
    filter: brightness(35%);
}

.boxtag {
  margin-top: -2.8rem;
  margin-bottom: 0;
  margin-left: 1rem; 
  display: inline-block;
  float: right;
  color: var(--color-gray);
  background-color: var(--body-background);
  border: 1px solid var(--color-gray);
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -.01em;
  padding: .25rem;
  font-style: normal;
  font-weight: bold;
}

.tag {
  margin: 1rem 0;
  padding: 0;
  text-transform: capitalize;
  > a {
    border: 1px solid var(--color-gray);
    padding: 5px;
    border-radius: .25rem;
    font-weight: 600;
    color: var(--color-gray);
    &:hover {
      text-decoration: underline;
    }
  }
}
