// millmint.net tags, categories, and images
// TODO: clean

img.page {
  @include mx-auto;
  @include padding-2;
  @include highlight-background;
  box-sizing: border-box;
}

/*.article-tag {
  @include text-sm;
  @include font-bold;
  display: flex;
  grid-area: tag;
  width: 100%;
  margin-top: .25rem;
  align-items: center;
  text-transform: uppercase;
}*/

.article-category {
  @include text-sm;
  @include font-semibold;
  grid-area: category;
  text-transform: capitalize;

  a {
    color: $font-color;
  }
}

.tag {
  padding: 0;
  text-transform: capitalize;

  .blank {
    @include font-color;
  }

  >a {
    border: 1px solid var(--color-gray);
    padding: 5px;
    border-radius: .25rem;
    font-weight: 600;
    color: var(--color-gray);

    &:hover {
      text-decoration: underline;
    }
  }
}

.boxtag {
  margin-top: -2.8rem;
  margin-bottom: 0;
  margin-left: 1rem;
  display: inline-block;
  float: right;
  color: var(--highlight);
  border: 1px solid var(--highlight);
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -.01em;
  padding: .25rem;
  font-style: normal;
  font-weight: bold;
}