// millmint.net pagination

.pagination {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    display: inline;
    margin: 0 .25rem;

    .active a {
      @include font-semibold;
      @include font-color;
    }

    &:not(.disabled) a:hover {
      @include font-color;

      span {
        color: inherit;
      }
    }
  }

  a,
  span {
    @include secondary-color;
  }

  .disabled {
    cursor: not-allowed;
  }

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  .prev,
  .next {
    @include highlight-background;
    @include py-1;
    @include px-4;
    box-sizing: border-box;
    border-radius: 0.25rem;
  }
}

.postcard-layout {
  .pagination {
    text-align: center;
  }
}