// millmint.net pagination

.pagination {
  padding: 0;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;

  ul {
    width: 100%;
  }

  li {
    @include px-2;
    @include highlight-background;
    @include radius-base;
    @include text-lg;
    display: inline;
    margin: 0 .25rem;

    .active {
      border: none;
      background: var(--highlight);
      a {
      @include font-semibold;
      color: var(--main-background);
    }
    }

    &:not(.disabled) a:hover {
      @include font-color;

      span {
        color: inherit;
      }
    }
  }

  .disabled {
    cursor: not-allowed;
  }

  .prev {
    float: left;
  }

  .next {
    float: right;
  }

  .prev,
  .next {
    @include highlight-background;
    @include py-1;
    @include px-4;
    box-sizing: border-box;
    border-radius: 0.25rem;
  }
}

.postcard-layout {
  .pagination {
    text-align: center;
  }
}