// Security threat widget for Noshem page (threat-level.html shortcode)

.level {
	display: inline-block;
	position: relative;
	box-sizing: border-box;
}

.alert {
	@include highlight;
}

.alert, .status, .condition {
	@include font-bold;
	margin-bottom: .5rem;
}

.condition {
	@include text-xs;
	@include padding-1;
}

.white {
	color: black;
	background-color: white;
	border: 2px solid black;
}

.black {
	color: white;
	background-color: black;
	border: 2px solid white;
}

.black-special {
	color: pink;
	background-color: black;
	border: 2px solid pink;
}

.amber {
	color: white;
	background-color: orangered;
	border: 2px solid black;
}

.red {
	color: white;
	background-color: red;
	border: 2px solid black;
}

.text {
	display: inline-block;
}

.circle {
	width: 15px;
	height: 15px;
	background-color: #62bd19;
	border-radius: 50%;
	position: absolute;
	top: 5px;
	margin-left: 8px;
}

.ring {
	border: 3px solid;
	-webkit-border-radius: 30px;
	height: 25px;
	width: 25px;
	position: absolute;
	top: -3px;
	-webkit-animation: pulsate 1s ease-out;
	-webkit-animation-iteration-count: infinite;
	opacity: 0.0
}

@-webkit-keyframes pulsate {
	0% {
		-webkit-transform: scale(0.1, 0.1);
		opacity: 0.0;
	}

	50% {
		opacity: 1.0;
	}

	100% {
		-webkit-transform: scale(1.2, 1.2);
		opacity: 0.0;
	}
}