.tag {
	@include text-sm;
		grid-area: tag;
		font-weight: bolder;
		margin-top: auto;
		margin-bottom: auto;
}

.sitetag {
	@include text-sm;
		grid-area: sitetag;
		color: $gray;
		margin-top: -0.4rem;
		margin-bottom: 1rem;
		font-weight: 600;
}

.boxtag {
	margin-top: -2.8rem;
	margin-bottom: 0;
	margin-left: 1rem; 
	display: inline-block;
	float: right;
	color: $font-color;
	background-color: $gray-100;
	border-inline-start: none;
	font-size: 16px;
	line-height: 1.4;
	letter-spacing: -.01em;
	border-radius: 5px;
	padding: .25rem;
	font-style: normal;
	font-weight: bold;
}

.boxtag.pink, .article-pink .boxtag[class="boxtag"] {
		border-color: var(--color-pink);
		background-color: rgba(245,35,75,.15);
}