[id] {
	scroll-margin-top: 2rem;
}

.desktop-toc-wrapper-wrapper {
	position: relative;
	display: none;
}

.desktop-toc-wrapper {
	position: absolute;
	right: -130px;

	.desktop-toc {
		position: fixed;
		top: 1rem;
		width: 200px;
		
		.dropdown {
			position: absolute;
			width: calc(100% + 10px);
			margin: 0;
			padding: 0px 15px;
		}
		
		details {
			background-color: var(--body-background);
		}
		
		details[open] {
			background-color: var(--body-background);
		}
		
		details > summary {
	  		@include text-lg;
			pointer-events: none;
	  		list-style: none; // Remove the default arrow.
	  		display: flex;
	  		align-items: center; // Vertically center the arrow.
	  		justify-content: space-between;
	  		height: 35px;
	  		margin: 1.5rem .5rem 1.5rem .5rem;
		}
		details > summary::-webkit-details-marker {
		  display: none;
		}
		details > summary::after {
		  @include emoji;
		  content:  '📘';
		  color: var(--color-gray);
		}
		details[open] > summary::after {
		  @include emoji;
		  content: "📘";
		}
	}

	nav {
		width: 100%;

		ul {
			width: 100%;
		}
	}

	.toc-active::after {
		content: '';
		display: block;
		position: absolute;
		width: auto;
		height: 100%;
		top: 0;
		left: -10px;
		background: var(--color-gray, black);
		border-radius: 5px;
	}

	.toc-title.toc-active::after {
		height: 35px;
		top: -4px;
	}

	.toc-active {
		position: relative;
		color: var(--color-gray) !important;
		background-color: var(--hint-bg, var(--gray-100));
		width: 120%;
	}
}

.toc-title {
	@include font-bold;
	color: var(--body-font-color);
	display: grid;
	grid-template-columns: auto 1fr;
	grid-gap: 10px;
	align-items: center;

	&:hover {
		text-decoration: none;
		filter: none;
	}

	.toc-emoji {
		@include emoji;
	}
}

.toc-title.toc-active {
	background-color: transparent;
}

#TableOfContents {
	line-height: 1rem;
	margin-bottom: 1.5rem;
}

#TableOfContents ul {
	font-weight: bold;
	margin-top: 0;
	font-size: 0.875rem;

	ul {
		font-weight: normal;
		margin-left: 0;
		margin-right: 0;
	}

	li {
		margin: 0 !important;

		a {
			box-sizing: border-box;
			display: block;
			width: 100%;
			color: var(--body-font-color);
			padding: 0.2rem 0.5rem;
			&:hover {
				text-decoration: none;
				color: var(--color-gray);
				filter: none;
				/*box-shadow: inset 0 0 0 5px var(--body-background);*/
			}
		}
		
		li a {
			padding: 0.2rem 1rem;
		}
	}
}

#toc-button {
	display: block;
	background: none;
	border: none;
	margin: 0;
	padding-left: .5rem;
	cursor: pointer;
	outline: inherit;
}

#toc-button .navicon {
	@include text-xl;
	margin: 0;
	color: var(--dark-title-text);

  &:hover {
	  color: var(--color-gray);
  }
}



.mobile-toc {
	display: none;
}

@media (max-width: 1599px) {
	.desktop-toc-wrapper {
		right: -70px;
	}
}

@media (max-width: 1199px) {
	.desktop-toc-wrapper {
		display: none;
	}
	#toc-button {
		display: none;
	}
	.mobile-toc {
		display: block;
	}
}