// millmint.net table-of-contents
// TODO: clean

[id] {
	scroll-margin-top: 2rem;
}

.desktop-toc-wrapper-wrapper {
	position: relative;
	display: none;
}

.desktop-toc-wrapper {
	position: absolute;
	right: -130px;

	.desktop-toc {
		position: fixed;
		top: 1rem;
		width: 200px;

		.dropdown {
			position: absolute;
			@include margin-0;
			@include px-2;
			@include py-0;
			width: 100%;
			border: none;
		}

		details,
		details[open] {
			@include radius-none;
			background-color: transparent;
		}

		details summary {
			@include text-lg;
			@include margin-2;
			pointer-events: none;
			list-style: none; // Remove the default arrow.
			display: flex;
			align-items: center; // Vertically center the arrow.
			justify-content: space-between;

			.title {
				@include font-bold;
				@include highlight;
				filter: none;

				&:hover {
					text-decoration: none;
					filter: none;
				}
			}
		}

		details>summary::-webkit-details-marker {
			display: none;
		}
	}

	nav {
		width: 100%;

		ul {
			width: 100%;
		}
	}

	.toc-active::after {
		content: '';
		display: block;
		position: absolute;
		width: auto;
		height: 100%;
		top: 0;
		left: -10px;
		background: var(--color-gray, black);
		border-radius: 5px;
	}

	.toc-active {
		@include highlight;
		@include highlight-background;
		position: relative;
	}
}

#TableOfContents {
	@include my-0;
	line-height: 1.5rem;

	ul, li {
		@include padding-0;
		@include my-0;
		list-style: none;
	}

	ul {
		margin-top: 0;
		font-size: 0.875rem;

		ul {
			line-height: 1;
			margin-left: 0.5rem;
			margin-right: 0;
		}

		li {
			margin: 0;

			a {
				box-sizing: border-box;
				display: block;
				width: 100%;
				padding: 0.25rem 0.5rem;

				&:hover {
					color: var(--color-gray);
					filter: none;
					/*box-shadow: inset 0 0 0 5px var(--body-background);*/
				}
			}

			li a {
				padding: 0.2rem 1rem;
			}
		}
	}
}

// Change from desktop to mobile TOC

.mobile.toc {
	display: none;
}

@media (max-width: 1599px) {
	.desktop-toc-wrapper {
		right: -70px;
	}
}

@media (max-width: 1199px) {

	// Hide desktop TOC
	.desktop.toc,
	#toc-button {
		display: none;
	}

	// Show mobile TOC
	.mobile.toc {
		display: block;
		background-color: transparent;
		border: var(--highlight) 1px dotted;

		summary {
			@include font-normal;
			@include highlight;
		}
	}
}