{{- partial "params.html" . -}}

<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body {{if .Params.Color }}data-color="{{ .Params.Color }}" {{ end }} class="show-all-images">
    <main>
        <article class="notebook">
            {{- partial "header.html" . -}}
            {{- partial "nav.html" . -}}
            <section class="page">
                {{- block "content" . }}{{- end }}
            </section>
            {{- partial "footer.html" . -}}
        </article>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vibrant.js/1.0.0/Vibrant.min.js"></script>
    </main>
    {{- partial "script.html" . -}}
</body>

</html>