<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>

<head>
    {{- partial "params.html" . -}}
    {{- partial "head.html" . -}}
    {{- partial "script.html" . -}}
</head>

<body {{if .Params.Color }}data-color="{{ .Params.Color }}" {{ end }} class="show-all-images">
    <main>
        <article class="notebook">
            {{- partial "header.html" . -}}
            {{- partial "nav.html" . -}}
            <section class="page">
                {{- block "content" . }}{{- end }}
            </section>
            {{- partial "footer.html" . -}}
        </article>
    </main>
</body>

</html>