{{ define "content" }}

{{ if and .Content (eq .Paginator.PageNumber 1) }}
<div>
  {{- partial "content.html" . -}}
</div>
{{ end }}

{{- $group_by_year := .Params.group_by_year | default .Site.Params.list_layout.enable_group_by_year | default true -}}
{{- $show_date := .Params.show_date | default .Site.Params.list_layout.enable_show_date | default true -}}
{{- $pagination := .Params.pagination | default .Site.Params.list_layout.enable_pagination | default false -}}

{{- $pages := .Pages -}}
{{- if and $pagination $group_by_year -}}
{{ $pages = (.Paginate (.Pages.GroupByPublishDate "2006")).PageGroups }}
{{- else if and $pagination (not $group_by_year) -}}
{{ $pages = .Paginator.Pages }}
{{- else if and (not $pagination) $group_by_year -}}
{{ $pages = .Pages.GroupByPublishDate "2006" }}
{{- end -}}

<details open>
  <summary><span class="navicon details-title">{{ if .Params.icon }}{{ .Params.icon }}{{ end }}</span><a href="{{ .RelPermalink }}">{{ if .Params.fulltitle }}{{ .Params.fulltitle }}{{ end }}</a></summary>
  {{ if .Params.list }}
  {{ $child_pages := union .Sections .RegularPages }}
  <ul>
    {{ range $child_pages.ByTitle }}
    <li>
      <span class="navicon">{{ if .Params.icon }}{{ .Params.icon }}{{ end }}</span>
      <a href="{{ .RelPermalink }}">{{ if .Params.fulltitle }}{{ .Params.fulltitle }}{{ end }}</a>
      {{ partial "components/recursive-list.html" . }}
    </li>
    {{ end }}
  </ul>
  {{ else }}
  <ul>
    {{ range .RegularPages }}
    <li>
      <span class="navicon">{{ if .Params.icon }}{{ .Params.icon }}{{ end }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</details>

{{ end }}