{{ define "content" }}
  {{ if and .Content (eq .Paginator.PageNumber 1) }}
    <div>
      {{- partial "content.html" . -}}
    </div>
{{ end }}

<br>
<details open>
  <summary><span class="navicon details-title">{{ if .Params.icon }}{{ .Params.icon }}{{ end }}</span><a href="{{ .RelPermalink }}">{{ if .Params.fulltitle }}{{ .Params.fulltitle }}{{ end }}</a></summary>
  {{ if .Params.list }}
  {{ $child_pages := union .Sections .RegularPages }}
  <ul>
    {{ range $child_pages.ByTitle }}
    <li>
      <span class="navicon">{{ if .Params.icon }}{{ .Params.icon }}{{ end }}</span>
      <a href="{{ .RelPermalink }}">{{ if .Params.fulltitle }}{{ .Params.fulltitle }}{{ end }}</a>
      {{ partial "components/recursive-list.html" . }}
    </li>
    {{ end }}
  </ul>
  {{ else }}
  <ul>
    {{ range .RegularPages }}
    <li>
      <span class="navicon">{{ if .Params.icon }}{{ .Params.icon }}{{ end }}</span>
      <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  </ul>
  {{ end }}
</details>

{{ end }}