{{- partial "params.html" . -}}

<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body {{if .Params.Color }}data-color="{{ .Params.Color }}" {{ end }} class="show-all-images">
  <main>
    {{- partial "header.html" . -}}
    {{- partial "nav.html" . -}}
    <article class="content" style="margin-top: 0;">
      <section class="page">
        {{ if .Content }}
          {{- partial "content.html" . -}}
        {{ end }}
        
        <div class="series-list">
          {{- partial "components/link-preview.html" . -}}
          
          <br>
          <h2>{{ .Title }}</h2>
          
          <!-- Display posts for this specific taxonomy term -->
          <ul class="postcard-grid">
            {{ range .Pages }}
              <li class="card">
                <a href="{{ .Permalink }}">
                  <div class="postcard-meta">
                    <h2 class="title">{{ .Title }}</h2>
                    {{ if .Date }}
                      <div class="date">{{ .Date.Format "Jan 2, 2006" }}</div>
                    {{ end }}
                  </div>
                  {{ if .Params.image }}
                  <figure class="postcard-image">
                    <img class="page" src="{{ .Params.image }}" alt="{{ .Title }}" loading="lazy">
                  </figure>
                  {{ end }}
                </a>
              </li>
            {{ end }}
          </ul>
        </div>
        
      </section>
    </article>
    {{- partial "footer.html" . -}}
  </main>
  {{- partial "resources/js.html" . -}}
  {{- partial "script.html" . -}}
</body>
</html>