{{- partial "params.html" . -}}

<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body {{if .Params.Color }}data-color="{{ .Params.Color }}" {{ end }} class="show-all-images">
  <main>
    {{- partial "header.html" . -}}
    {{- partial "nav.html" . -}}
    <article class="content" style="margin-top: 0;">
      <section class="page">
        {{ if .Content }}
          {{- partial "content.html" . -}}
        {{ end }}
        
        <div class="series-list">
          {{- partial "components/link-preview.html" . -}}
          
          <br>
          <details open>
            <summary><span class="navicon details-title"></span><a href="#">{{ .Title }}</a></summary>
            <ul>
              {{ range .Data.Terms.Alphabetical }}
              <li>
                <a class="slink" href="{{ .Page.RelPermalink }}">
                  <span class="navicon"></span> 
                  {{ .Page.Title }} 
                  <small>({{ .Count }} {{ if eq .Count 1 }}entry{{ else }}entries{{ end }})</small>
                </a>
              </li>
              {{ end }}
            </ul>
          </details>
        </div>
        
      </section>
    </article>
    {{- partial "footer.html" . -}}
  </main>
  {{- partial "resources/js.html" . -}}
  {{- partial "script.html" . -}}
</body>
</html>