{{- define "content" -}}

<div class="postcard-layout">
	{{ with .Paginator.Pages.ByPublishDate.Reverse }}
  <ul class="postcard-grid">
	{{ range . }}
	<li class="card" href="{{ .RelPermalink }}">
	  <a href="{{ .RelPermalink }}">
		<div class="postcard-meta">
		  <div class="title">
			{{- .Title -}}
			{{ if .Params.rgb }}
			<div data-card-color="{{ .Params.rgb }}"></div>
			{{ end }}
		  </div>
		  <div class="date">
			{{- .PublishDate.Format "2006/01/02" -}}
		  </div>
		</div>
		<div class="postcard-image">
		  {{ partial "components/image.html" . }}
		</div>
	  </a>
	</li>
	{{end}}
  </ul>
  {{end}}
</div>

{{ template "_internal/pagination.html" . }}

{{- end -}}

