{{ define "content" }}
<h1 class="title">{{- .Title -}}</h1>

<article class="content" style="margin-top: 0;">
    {{ if .Content }}
    {{- partial "content.html" . -}}
    {{ end }}

    {{ $paginator := .Paginate .Pages.ByPublishDate.Reverse 12 }}
    {{ partial "components/postcard.html" (dict 
        "paginator" $paginator 
        "ctx" .
        "term" .Title
        "taxonomy" .Data.Singular
        "taxonomyPlural" .Data.Plural
    ) }}
    {{- partial "components/link-preview.html" . -}}
</article>
{{ end }}