<div class="factbook">

<div class="factbook-intro">
	{{- partial "parallax/hills.html" . -}}

	<div class="factbook-intro factbook-text" style="background: transparent;">
		<b>Welcome.</b> May this document serve a useful purpose to you, as you learn more about this remarkable country. Use it as a reference for when you need it.
	</div>
</div>

	<div class="bento">
		<div class="box" one-third>
			<a class="boxtitle" href="/millmint/" vekllei>
				<span class="navicon">📓</span>
				<span class="name">To start</span>
			</a>
			<div class="tray" vekllei>
				<a href="/vekllei/">
					<span class="fi fi-com"></span>
					<span class="name"> Vekllei</span>
				</a>
			</div>
			<div class="tray" blue>
				<a href="/maps/world/">
					<span class="navicon">🌎</span>
					<span class="name">World Map</span>
				</a>
			</div>
			<div class="tray" brown>
				<a href="/timeline/">
					<span class="navicon">⏳</span>
					<span class="name">Timeline</span>
				</a>
			</div>
		</div>

		<div class="box" two-thirds>
			<a class="boxtitle" href="/log/" millmint>
				<span class="navicon">📋</span>
				<span class="name">Recent Updates</span>
			</a>
			<div class="tray" millmint>
					<ul>
						{{ range (.Site.RegularPages.ByLastmod | last 3).Reverse }}
					  <li>
						  <a href="{{ .RelPermalink }}">
						   <span class="icon" style="line-height: 1.2;">{{ .Params.icon }}</span> {{ .Title  }}</a>
					  </li>
					{{ end }}
					</ul>
				<a  href="/log/"><button>
					Read more...
				</button></a>
			</div>
		</div>
	</div>

	<div class="bento">
		<div class="box" full>
			<a class="boxtitle" href="/stories/" yellow>
				<span class="navicon">📖</span>
				<span class="name">Recent Stories</span>
			</a>
			<div class="tray" yellow>
				<a href="/characters/tzipora/">
					<span class="fi fi-tzipora fis"></span>
					<span class="name">Tzipora</span>
				</a>
				<a href="/characters/cobian/">
					<span class="fi fi-cobian fis"></span>
					<span class="name">Cobian</span>
				</a>
				<a href="/characters/baron/">
					<span class="fi fi-baron fis"></span>
					<span class="name">Baron</span>
				</a>
				<a href="/characters/ayn/">
					<span class="fi fi-ayn fis"></span>
					<span class="name">Ayn</span>
				</a>
				<a href="/characters/moise/">
					<span class="fi fi-moise fis"></span>
					<span class="name">Moise</span>
				</a>
				<a href="/characters/coretti/">
					<span class="fi fi-coretti fis"></span>
					<span class="name">Coretti</span>
				</a>
				<a href="/characters/zhi/">
					<span class="fi fi-zhi fis"></span>
					<span class="name">Zhi</span>
				</a>
				<a href="/characters/">
					<span class="name" style="color: var(--color-yellow);">More Characters →</span>
				</a>
			</div>
		</div>

	<div class="box" full>
		<div class="showcase" five>
			{{ range ( where .Site.RegularPages "Type" "stories" | first 5 ) }}
			<div class="navcard">
				<a href="{{ .RelPermalink }}">
					<figure>
						{{ with resources.Get .Params.image }}
						{{ with .Resize "680x q90 webp" }}
						<img class="page" src="{{ .RelPermalink }}" alt="">
						{{ end }}
						{{ end }}
					</figure>
				</a>
			</div>
			{{end}}
		</div>

		<div class="showcase" three>
			{{ range ( where .Site.RegularPages "Type" "stories" | first 3 ) }}
			<div class="navcard">
				<a href="{{ .RelPermalink }}">
					<!--<div class="name">
				{{- .Title -}}
				</div>-->
					<figure>
						{{ with resources.Get .Params.image }}
						{{ with .Resize "680x q90 webp" }}
						<img class="page" src="{{ .RelPermalink }}" alt="">
						{{ end }}
						{{ end }}
					</figure>
				</a>
			</div>
			{{end}}
		</div>
	</div>
	</div>


	<details class="section" open="true">
		<summary><h3>Bulletins</h3></summary>

	<p class="factbook-text">
		Bulletins are short articles on Vekllei society. They answer some frequently asked questions, and touch on aspects of life that might not conform to a regular wiki article.
	</p>

	<div class="list">
	<div class="factbook-bulletin-list">
		<ul>
		{{ range (site.GetPage "factbook/bulletin").Pages }}
		<li><a class="slink" {{ if .Params.color }} style="
		 color: var(--color-{{ .Params.color }});
		 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
		 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a></li>
		{{ end }}
		</ul>
	</div>
	</div>
	</details>

	<details class="section" open="true">
	<summary><h3>Territories & Constituents</h3></summary>

	<p class="factbook-text">
		Vekllei spans pole to pole as a union of island communities. It is a unique federal country, with no direct precedent or comparison. It is made up of constituent republics organised into regional commonwealths.
	</p>

	<div class="list">
		<div class="list-item" one-third millmint>
			<a style="color: var(--color-vekllei);" href="/antarctic/"><span class="fi fi-antarctic factbook-icon"></span> Antarctic Republics</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/world/vekllei/antarctic").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-vekllei);" href="/antilles/"><span class="fi fi-antilles factbook-icon"></span> Antilles Republics</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/world/vekllei/antilles").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-vekllei);" href="/arctic/"><span class="fi fi-arctic factbook-icon"></span> Arctic Republics</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/world/vekllei/arctic").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-vekllei);" href="/atlantic/"><span class="fi fi-atlantic factbook-icon"></span> Atlantic Republics</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/world/vekllei/atlantic").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-vekllei);" href="/kalina/"><span class="fi fi-kalina factbook-icon"></span> Kalina Republics</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/world/vekllei/kalina").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-vekllei);" href="/lucaya/"><span class="fi fi-lucaya factbook-icon"></span> Lucayan Republics</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/world/vekllei/lucaya").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-vekllei);" href="/verde/"><span class="fi fi-verde factbook-icon"></span> Verde Republics</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/world/vekllei/verde").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-vekllei);" href="/volcanic/"><span class="fi fi-volcanic factbook-icon"></span> Volcanic Republics</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/world/vekllei/volcanic").Pages }}
			<a class="slink" {{ if .Params.color }} style="
				 color: var(--color-{{ .Params.color }});
				 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
				 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>
	</div>
	</details>

	<details class="section" open="true">
	<summary><h3>Society</h3></summary>

	<p class="factbook-text">
		Vekllei society is democratic, prosperous and diverse. It also has many unusual features that arise from its unique geography and political systems.
	</p>

	<div class="list">
		<div class="list-item" one-third millmint>
			<a href="/state/">State</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>
	</div>

	<div class="list">
		<div class="list-item" one-third millmint>
			<a href="/law">Law</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/law").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>
	</div>
	</details>

	<details class="section" open="true">
	<summary><h3>Government</h3></summary>

	<p class="factbook-text">
		Vekllei government plays an important role in the lives of Vekllei people. It is both powerful and decentralised, and its network of parliaments, ministries and bureaux contribute substantially to the standard of living in the country.
	</p>

	<div class="list">
		<div class="list-item" one-third millmint>
			<a href="/government/">Structure of Government</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-commerce);" href="/ministry-of-commerce/"><span class="fi fi-min-commerce fis factbook-icon"></span> Ministry of Commerce</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/ministries/commerce").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-commons);" href="/ministry-of-the-commons/"><span class="fi fi-min-commons fis factbook-icon"></span> Ministry of the Commons</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/ministries/commons").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-commonwealth);" href="/ministry-of-the-commonwealth/"><span class="fi fi-min-commonwealth fis factbook-icon"></span> Ministry of the Commonwealth</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/ministries/commonwealth").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-culture);" href="/ministry-of-culture/"><span class="fi fi-min-culture fis factbook-icon"></span> Ministry of Culture</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/ministries/culture").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-defence);" href="/ministry-of-defence/"><span class="fi fi-min-defence fis factbook-icon"></span> Ministry of Defence</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/ministries/defence").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-foreignaffairs);" href="/ministry-of-foreign-affairs/"><span class="fi fi-min-foreign-affairs fis factbook-icon"></span> Ministry of Foreign Affairs</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/ministries/foreign-affairs").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-industry);" href="/ministry-of-industry/"><span class="fi fi-min-industry fis factbook-icon"></span> Ministry of Industry</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/ministries/industry").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-labour);" href="/ministry-of-labour/"><span class="fi fi-min-labour fis factbook-icon"></span> Ministry of Labour</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/ministries/labour").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-landscape);" href="/ministry-of-landscape/"><span class="fi fi-min-landscape fis factbook-icon"></span> Ministry of Landscape</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/ministries/landscape").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-lightandwater);" href="/ministry-of-light-and-water/"><span class="fi fi-min-light-and-water fis factbook-icon"></span> Ministry of Light &amp; Water</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/ministries/light-and-water").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-civic);" href="/civic/"><span class="fi fi-min-civic fis factbook-icon"></span> Parliament of State</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/parliaments/civic").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-community);" href="/community/"><span class="fi fi-min-community fis factbook-icon"></span> Parliament of Community</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/parliaments/community").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-democracy);" href="/democracy/"><span class="fi fi-min-democracy fis factbook-icon"></span> Parliament of Democracy</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/parliaments/democracy").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-education);" href="/education-parliament/"><span class="fi fi-min-education fis factbook-icon"></span> Parliament of Education</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/parliaments/education").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-health);" href="/health/"><span class="fi fi-min-health fis factbook-icon"></span> Parliament of Health</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/parliaments/health").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a style="color: var(--color-security);" href="/security/"><span class="fi fi-min-security fis factbook-icon"></span> Parliament of Security</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/state/government/parliaments/security").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

	</div>
	</details>

	<details class="section" open="true">
	<summary><h3>Industry & Technology</h3></summary>

	<p class="factbook-text">
		Vekllei is an industrious, advanced country that produces much of what it needs. Natural wealth abounds on its islands and in its oceans, harnessed by its talented and determined people.
	</p>

	<div class="list">

		<div class="list-item" one-third millmint>
			<a href="/bureaus/">Bureaus</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/industry/bureaus").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a href="/municipal-industry/">Municipal Industry</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/industry/municipal").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a href="/private-industry/">Private Industry</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/industry/private").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a href="/state-industry/">State Industry</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/industry/state").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>

		<div class="list-item" one-third millmint>
			<a href="/technology/">Technology</a>
		</div>
		<div class="list-item" two-thirds>
			{{ range (site.GetPage "factbook/society/technology").Pages }}
			<a class="slink" {{ if .Params.color }} style="
			 color: var(--color-{{ .Params.color }});
			 background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent)" {{ end }} {{ if .Params.rgb }} style="color: rgb({{ .Params.rgb }});
			 background: color-mix(in srgb, rgb({{ .Params.rgb }}) 10%, transparent);" {{ end }} href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>
			{{ end }}
		</div>
	</div>
	</details>


</div>