<div class="factbook">

<div class="factbook-intro">
	{{- partial "parallax/hills.html" . -}}

	<div class="factbook-intro factbook-text" style="background: transparent;">
		<b>Welcome.</b> May this document serve a useful purpose to you, as you learn more about this remarkable country. Use it as a reference for when you need it.
	</div>
</div>

	<div class="bento">
		<div class="box" one-third>
			<a class="boxtitle" href="/intro/" vekllei>
				<span class="navicon">📓</span>
				<span class="name">To start</span>
			</a>
			<div class="tray" vekllei>
				<a href="/vekllei/">
					<span class="fi fi-com-4x3"></span>
					<span class="name"> Vekllei</span>
				</a>
			</div>
			<div class="tray" blue>
				<a href="/maps/world/">
					<span class="navicon">🌎</span>
					<span class="name">World Map</span>
				</a>
			</div>
			<div class="tray" green>
				<a href="/commonwealth/">
					<span class="navicon">🌹</span>
					<span class="name">Commonwealth</span>
				</a>
			</div>
		</div>

		<div class="box" two-thirds>
			<a class="boxtitle" href="/log/" millmint>
				<span class="navicon">📋</span>
				<span class="name">Recent Updates</span>
			</a>
			<div class="tray" millmint>
					<ul>
						{{ range (.Site.RegularPages.ByLastmod | last 3).Reverse }}
					  <li>
						  <a href="{{ .RelPermalink }}">
						   <span class="icon" style="line-height: 1.2;">{{ .Params.icon }}</span> {{ .Title  }}</a>
					  </li>
					{{ end }}
					</ul>
				<a  href="/log/"><button>
					Read more...
				</button></a>
			</div>
		</div>
	</div>

	<div class="bento">
		<div class="box" full>
			<a class="boxtitle" href="/stories/" yellow>
				<span class="navicon">📖</span>
				<span class="name">Recent Stories</span>
			</a>
			<div class="tray" yellow>
				<a href="/characters/tzipora/">
					<span class="name">Tzipora</span>
				</a>
				<a href="/characters/cobian/">
					<span class="name">Cobian</span>
				</a>
				<a href="/characters/baron/">
					<span class="name">Baron</span>
				</a>
				<a href="/characters/ayn/">
					<span class="name">Ayn</span>
				</a>
				<a href="/characters/moise/">
					<span class="name">Moise</span>
				</a>
				<a href="/characters/coretti/">
					<span class="name">Coretti</span>
				</a>
				<a href="/characters/zhi/">
					<span class="name">Zhi</span>
				</a>
				<a href="/characters/">
					<span class="name" style="color: var(--color-yellow);">More Characters →</span>
				</a>
			</div>
		</div>

	<div class="box" full>
		<div class="showcase" five>
			{{ range ( where .Site.RegularPages "Type" "stories" | first 5 ) }}
			<div class="navcard">
				<a href="{{ .RelPermalink }}">
					<figure>
						{{ with resources.Get .Params.image }}
						{{ with .Resize "680x q90 webp" }}
						<img class="page" src="{{ .RelPermalink }}" alt="">
						{{ end }}
						{{ end }}
					</figure>
				</a>
			</div>
			{{end}}
		</div>

		<div class="showcase" three>
			{{ range ( where .Site.RegularPages "Type" "stories" | first 3 ) }}
			<div class="navcard">
				<a href="{{ .RelPermalink }}">
					<!--<div class="name">
				{{- .Title -}}
				</div>-->
					<figure>
						{{ with resources.Get .Params.image }}
						{{ with .Resize "680x q90 webp" }}
						<img class="page" src="{{ .RelPermalink }}" alt="">
						{{ end }}
						{{ end }}
					</figure>
				</a>
			</div>
			{{end}}
		</div>
	</div>
	</div>