<div class="bento">
	<div class="box" one-third>
		<a class="boxtitle" href="/intro/" millmint>
			<span class="navicon">🧾</span>
			<span class="name">Intro</span>
		</a>
		<div class="tray" millmint>
			<li><a href="/intro/">
				<span class="navicon">💸</span>
				<span class="name">Intro</span></a>
			</li>
			<li><a href="/faq/">
				<span class="navicon">📊</span>
				<span class="name">FAQ</span></a>
			</li>
		</div>
	</div>

	<div class="box" two-thirds>
		<a class="boxtitle" href="/bulletin/" millmint>
			<span class="navicon">🧾</span>
			<span class="name">Featured Bulletins (FAQ)</span>
		</a>
		<div class="tray" millmint>
			<li><a href="/bulletin/alcohol/">
				<span class="navicon">🍷</span>
				<span class="name">Alcohol in Vekllei</span></a>
			</li>
			<li><a href="/bulletin/productivity/">
				<span class="navicon">📊</span>
				<span class="name">Economic Productivity in Vekllei</span></a>
			</li>
			<li><a href="/bulletin/looks/">
				<span class="navicon">🫥</span>
				<span class="name">Why do Vekllei People Look Like That?</span></a>
			</li>
			<a  href="/bulletin/"><button>
				Read more...
			</button></a>
		</div>
	</div>
</div>