<div class="bento">
	<div class="box" full>
		<div class="tray" yellow>
			<a href="/characters/tzipora/">
				<span class="fi fi-tzipora fis"></span>
				<span class="name">Tzipora</span>
			</a>
			<a href="/characters/cobian/">
				<span class="fi fi-cobian fis"></span>
				<span class="name">Cobian</span>
			</a>
			<a href="/characters/baron/">
				<span class="fi fi-baron fis"></span>
				<span class="name">Baron</span>
			</a>
			<a href="/characters/ayn/">
				<span class="fi fi-ayn fis"></span>
				<span class="name">Ayn</span>
			</a>
			<a href="/characters/moise/">
				<span class="fi fi-moise fis"></span>
				<span class="name">Moise</span>
			</a>
			<a href="/characters/coretti/">
				<span class="fi fi-coretti fis"></span>
				<span class="name">Coretti</span>
			</a>
			<a href="/characters/zhi/">
				<span class="fi fi-zhi fis"></span>
				<span class="name">Zhi</span>
			</a>
		</div>
	</div>

<div class="box" full>
	<a class="boxtitle" href="/stories/" yellow>
		<span class="navicon">📖</span>
		<span class="name">Recent Stories...</span>
	</a>
	<div class="showcase" five>
		{{ range ( where .Site.RegularPages "Type" "stories" | first 5 ) }}
		<div class="navcard">
			<a href="{{ .RelPermalink }}">
				<!--<div class="name">
			{{- .Title -}}
			</div>-->
				<figure>
					{{ with resources.Get .Params.image }}
					{{ with .Resize "680x q90 webp" }}
					<img class="page" src="{{ .RelPermalink }}" alt="">
					{{ end }}
					{{ end }}
				</figure>
			</a>
		</div>
		{{end}}
	</div>

	<div class="showcase" three>
		{{ range ( where .Site.RegularPages "Type" "stories" | first 3 ) }}
		<div class="navcard">
			<a href="{{ .RelPermalink }}">
				<!--<div class="name">
			{{- .Title -}}
			</div>-->
				<figure>
					{{ with resources.Get .Params.image }}
					{{ with .Resize "680x q90 webp" }}
					<img class="page" src="{{ .RelPermalink }}" alt="">
					{{ end }}
					{{ end }}
				</figure>
			</a>
		</div>
		{{end}}
	</div>
</div>