// STORY "NEXT/PREVIOUS" ARTICLE FOOTER LINKS

nav.story {
	@include text-sm;
	@include font-medium;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 10px 10px;
	grid-template-areas: "leftlink printlink rightlink";
	text-align: center;
	align-items: center;

	.leftlink {
		grid-area: leftlink;
		text-align: left;
	}

	.rightlink {
		grid-area: rightlink;
		text-align: right;
	}

	.leftlink, .rightlink {
		&:hover {
			filter: brightness(65%);
			text-decoration: underline;
		}
	}
}

// FOOTER ELEMENTS

.copyright {
	@include margin-0;
	@include text-xs;
	text-align: center;
	color: var(--color-text-footer);
}

.redditlink {
	@include margin-0;
	@include text-xs;
	text-align: center;
	color: var(--color-text-footer);
}

.credit {
	@include my-4;
	@include text-xs;
	text-align: left;
	vertical-align: middle;
	color: var(--color-text-footer);
}

.smalldate {
	@include text-xs;
	margin: 0;
	text-align: left;
	vertical-align: middle;
	color: var(--color-text-footer);
}

// MillMint breadcrumbs

.breadcrumbs {
  @include font-bold;
  @include my-4;
  @include radius-base;
  background-color: var(--gray-100);
  padding: 0.25rem 1rem 0.25rem 0.75rem;
  box-sizing: border-box;

  li {
	@include text-sm;
	@include font-medium;
	@include font-color;
	display: inline;
	margin: 0.5rem 0 auto 0;
	letter-spacing: -0.025em;
	&+:before {
	  padding: 8px;
	  content: "›";
	}
  }

  a {
	@include font-color;
	border-bottom: 1px solid transparent;
	&:hover {
	  border-bottom-color: var(--font-color);
	  text-decoration: none;
	}
  }
}

// MillMint "Pill"

.pill {
	@include px-1;
	@include text-sm;
	@include highlight;
	margin-left: auto;
	margin-right: 0;
	line-height: 1rem;
	width: max-content;
	grid-area: pill;
	display: grid;
	justify-content: space-between;
	grid-auto-columns: minmax(min-content, max-content);
	grid-auto-flow: column;
	grid-template-areas:
		"pill-category pill-icon pill-title";
	border: var(--color-gray) solid 1px;
	border-radius: 5px;

	.pill-icon {
		@include emoji;
		display: grid;
		grid-area: pill-icon;
		font-size: 17px;
		line-height: 0;
		align-content: center;
	}

	.pill-title {
		@include font-bold;
		display: grid;
		grid-area: pill-title;
		text-transform: uppercase;
	}

	.pill-category {
		display: grid;
		grid-area: pill-category;
		text-transform: capitalize;
	}
}

.footer {
	display: flex;
	justify-content: space-between;
}