// Site Header

header {
	display: grid;
	align-items: center;
	grid-template-columns: 1fr fit-content(33%);
	grid-template-rows: 1fr;
	grid-template-areas:
		"brand theme toc search";
	margin: 0 0 1rem 0;

	a:hover {
		filter: none;
	}
}

.brand {
	align-items: center;
	min-width: 8rem;
	grid-area: brand;
}

.brand-title {
	@include text-2xl;
	@include font-bold;
	@include radius-medium;
	color: var(--body-background);
	vertical-align: middle;
	padding: 2px 6px 2px 6px;
	background-color: var(--color-gray);
}

.brand-emoji {
	// disable brand emoji
	display: none;

	font-family: 'Whirlybats';
	font-size: 30px !important;
	font-weight: normal;
	font-style: normal;
	font-feature-settings: 'liga';
	letter-spacing: -26px;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
	filter: brightness(100%) !important;
	vertical-align: middle;
	color: var(--logo-color, var(--color-gray));
}

.brand-title:hover, brand-emoji:hover {
	box-shadow: inset 0 0 0 2px var(--logo-color, var(--color-gray));
	color: var(--logo-color, var(--color-gray));
	background-color: var(--body-background);
	text-decoration: none;
}

@keyframes slidebg {
	to {
		background-position: 20vw;
	}
}

.toolbox {
	display: flex;
	align-items: center;
	column-gap: 0.5rem;

	.toolbox-btn {
		display: flex;
		cursor: pointer;

		&:hover {
			@include highlight;
		}
	}

	.dropdown-wrapper {
		.dropdown-btn.pure-menu-link {
			color: unset;
		}

		.dropdown-btn {
			display: flex;
			align-items: center;
			padding: 0;

			&:hover {
				background-color: unset;
			}

			&::after {
				content: "";
				padding: 0;
			}

			.dropdown-desc {
				@include text-sm;
				margin-left: 0.35rem;
			}
		}
	}
}

body>canvas:not(#HeaderCanvas) {
	/*Hide annoying Vibrant canvas*/
	display: none;
}

/* fix menu dropdown bg colour */
body header #navbar .navbar-dropdown li {
	background-color: var(--body-background);
}

body header #navbar .navbar-dropdown li:hover {
	background-color: var(--body-background);
	filter: brightness(98%);
}

/* hide menu button */
header .menu-btn {
	display: none;
}

@media (max-width: 600px) {
	header {
		margin-top: 0rem;
	}
}

// Article Header

header.info {
	margin: 0 0 2rem 0;
	display: grid;
	grid-auto-columns: minmax(10px, auto);
	grid-auto-rows: minmax(min-content, max-content);
	gap: 0 10px;
	grid-auto-flow: column;
	grid-template-areas:
		"title emoji logo"
		"date emoji logo"
		"meta emoji logo";


	.title {
		@include font-bold;
		@include font-color;
		grid-area: title;
		display: grid;
		font-size: 2rem;
		align-content: center;
		line-height: 1.25;
		margin: 0 0 0.5rem 0;
	}

	.emoji {
		grid-area: emoji;
		display: grid;
		justify-items: end;
		align-content: center;
		font-family: 'Whirlybats';
		font-weight: normal;
		font-style: normal;
		font-feature-settings: 'liga';
		white-space: nowrap;
		word-wrap: normal;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		font-size: 65px;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
	}

	.logo {
		@include margin-0;
		grid-area: logo;
		display: grid;
		width: 100%;
		height: 100%;
		max-width: 100px;
		justify-items: end;
		align-content: center;
	}

	.date {
		@include text-sm;
		@include font-medium;
		@include highlight;
		grid-area: date;
		margin: 0;
	}

	.meta {
		display: grid;
		grid-area: meta;
		grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
		grid-auto-flow: column;
		grid-auto-rows: minmax(min-content, max-content);
		grid-template-areas:
			"icon headcrumbs"
			"icon category";
	}

	.icon {
		@include emoji;
		@include highlight;
		@include radius-base;
		display: grid;
		grid-area: icon;
		max-width: min-content;
		justify-content: start;
		align-content: center;
		margin-right: .5rem;
		font-size: 2rem;
	}

	.headcrumbs {
		@include text-sm;
		@include my-0;
		display: grid;
		grid-area: headcrumbs;
		align-content: end;

		li {
			@include margin-0;
			@include padding-0;
			display: inline;
			list-style: none;

			&+:after {
				@include highlight;
				padding: 0 .25rem 0 .15rem;
				content: "/";
			}
		}

		ul {
			@include margin-0;
			@include padding-0;
		}

		a {
			@include font-color;
		}

		.seperator {
			@include highlight;
			display: inline;
			padding-left: .25rem;
			padding-right: .15rem;
		}
	}
}