.site-home {
	background-image: url("https://images.millmint.net/images/mastheads/millmint.png");
	  
  	background-position: 50% 50px;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	
  	background-size: cover;
}