// millmint.net navbar
// Made by Hobart

nav {
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $md_min_width) {
    @include my-0;
  }

  .navbar {
    @include margin-0;
    @include padding-0;
    position: relative;
    display: flex;
    align-items: center;
    flex: 1;
    list-style: none;
    background-color: transparent;

    .navlink {
      @include text-sm;
      @include font-medium;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      margin-right: .25rem;
      line-height: 1.25rem;
      display: block;
      padding: .25rem .5rem .25rem .25rem;
      position: static;
      white-space: nowrap;

      &:hover {
        @include highlight-background;

        a {
          @include highlight;
        }
      }
    }

    .dropdown {
      @include drop-shadow;
      @include body-background-color;
      @include radius-base;
      @include highlight-border;
      margin-top: .25rem;
      max-width: 45rem;
      width: 100%;
      box-sizing: content-box;
      display: none;
      position: absolute;
      white-space: normal;
      min-height: fit-content;
      left: 0;
      z-index: 10;
    }

    .navlink:hover .dropdown {
      display: block;
    }

    .bento {
      @include padding-2;
      display: flex;
      align-content: stretch;
      justify-content: space-between;
      flex-wrap: wrap;
      flex-grow: 4;

      button {
        @include font-color;
        line-height: 1.6rem;

        &:hover {
          text-decoration: underline;
        }
      }

      a {
        white-space: nowrap;
        @include px-1;
        @include py-2;
      }

      .whirlybats {
        @include whirlybats;
        font-size: 20px;
        width: 10px;
      }

      .box {
        @include padding-1;
        align-content: stretch;
        min-width: min-content;

        .boxtitle {
          @include font-color;
          font-size: 16px;
        }

        button {
          border: none;
        }

        .tray {
          @include padding-2;
          @include my-2;
          @include radius-base;
          justify-content: space-between;
          align-content: stretch;

          a {
            @include font-color;
            @include font-normal;
            @include px-1;
            @include py-2;
          }

          .boxtitle {
            padding-top: 0;
            padding-bottom: .5rem;
            line-height: 2rem;
            font-size: 16px;
            @include font-medium;
          }
        }
      }

      .box[full] {
        width: 100%;
      }

      .box[half] {
        @media only screen and (min-width: 600px) {
          width: 48%;
        }
      }

      .box[two-thirds] {
        @media only screen and (min-width: 600px) {
          width: 66%;
        }
      }

      .box[one-third] {
        @media only screen and (min-width: 600px) {
          width: 30%;
        }
      }

      .box {
        @media only screen and (max-width: 600px) {
          width: 100%;
        }
      }

      .tray {
        &[vekllei] {
          background-color: rgba(54, 73, 187, 0.1);
        }

        &[yellow] {
          background-color: rgba(234, 147, 101, 0.1);
        }

        &[purple] {
          background-color: rgba(155, 67, 199, 0.1)
        }

        &[brown] {
          background-color: rgba(162, 132, 94, 0.1)
        }

        &[blue] {
          background-color: rgba(28, 123, 205, 0.1)
        }

        &[green] {
          background-color: rgba(92, 185, 85, 0.1);
        }

        &[millmint] {
          background-color: rgba(225, 28, 110, 0.1)
        }
      }

      .boxtitle {
        &[vekllei] {
          color: var(--color-vekllei);
        }

        &[yellow] {
          color: var(--color-yellow);
        }

        &[purple] {
          color: var(--color-purple);
        }

        &[brown] {
          color: var(--color-brown);
        }

        &[blue] {
          color: var(--color-blue);
        }

        &[green] {
          color: var(--color-green);
        }

        &[millmint] {
          color: var(--color-millmint);
        }
      }
    }

    a {
      @include secondary-color;

      &:hover {
        @include highlight;
        text-decoration: none;
      }
    }

    li {
      @include my-0;
      padding: 2.5px;
      list-style: none;
    }
  }
}

.navicon {
  @include emoji;
  @include font-normal;
  @include radius-none;
  @include padding-0;
}

.navtitle {
  @include text-lg;
  @include radius-base;
  @include highlight;
}

.left {
  margin-left: auto;
  justify-content: start;
}

.right {
  margin-right: auto;
  justify-content: end;

  .navicon {
    @include radius-none;
    height: .9rem;
    width: .9rem;
    margin: 0;
    filter: none;
  }
}

// hide social icons on mobile

@media only screen and (max-width: 555px) {
  .right {
    display: none !important;
  }
}

/* floating nav */

.floating-nav {
  position: absolute;
  box-shadow: 0 0 0 15px var(--body-background);
  background: var(--body-background);
  border-radius: .075rem;
  margin-top: 2.5rem;
  box-sizing: border-box;
  width: calc(100% - 3.8rem);
  /* Full width minus 2 times 1.5rem padding */
  z-index: 1;
  left: 50%;
  /* Center the element horizontally */
  transform: translateX(-50%);
  /* Adjust for half of the element's width */

  @media only screen and (max-width: 500px) {
    margin-top: 24px;
  }
}

.showcase {
  @include padding-0;
  display: none;
  flex: 1;

  .navcard {
    @include mx-1;
    @include radius-base;
    height: auto;
    overflow: hidden;
    display: flex;
    flex: 1;
    justify-self: center;
    align-self: center;
    width: 100%;
    box-sizing: border-box;
    z-index: 2;
    transition: ease 0.15s;

    a {
      padding: 0 !important;
    }

    &:hover {
      @include drop-shadow;
      transform: translateY(-0.25rem);
    }

    .name {
      position: absolute;
    }

    figure {
      margin: 0;
    }

    img {
      @include margin-0;
      @include padding-0;
      display: block;
      box-sizing: border-box;
      transform: scale(1.1);
      height: 150px;
      object-fit: cover;
    }
  }
}

.active {
  @include highlight-background;
  color: var(--highlight);
  box-shadow: inset 0px -502px 0px -500px var(--highlight);
}

.showcase[five] {
  @media only screen and (min-width: 600px) {
    display: flex;
  }
}

.showcase[three] {
  @media only screen and (max-width: 600px) {
    display: flex;
  }
}