.postcard-layout {
  @include my-2;

  .postcard-grid {
    @include padding-0;
    @include my-6;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px;
    grid-auto-flow: row;
    list-style: none;
    padding: 0;
  }

  .card {
    @include radius-base;
    max-width: 260px;
    justify-self: center;
    align-self: center;
    list-style: none;
    border: 2px solid var(--gray-med);
    width: 100%;
    box-sizing: border-box;
    background: var(--gray-med);
    transition: ease 0.15s;
    position: relative;
    z-index: 2;

    figure {
      @include margin-0;
    }

    a {
      text-decoration: none;
    }

    .postcard-meta {
      background: var(--gray-light);

      .title {
        @include px-1;
        @include text-lg;
        font-weight: 500;
      }
    }

    .postcard-image {
      @include radius-base;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      overflow: hidden;
      background: black;
      z-index: 1;

      img {
        @include my-0;
        height: 360px !important;
        object-fit: cover !important;
        transform: scale(1.1);
      }
    }

    &:hover {
      border: 2px solid var(--highlight);
      box-shadow: 0px 5px 10px 2.5px var(--highlight-background);
      transform: translateY(-0.5rem);
    }
  }

  .postcard-meta {
    @include padding-2;
    @include radius-base;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;

    .date {
      @include text-sm;
      padding: 0px 10px 5px 5px;
      margin-top: -5px;
    }
  }
}