// Site search

@mixin fixed {
	position: fixed;
	top: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

@mixin outline {
	outline-style: auto;
	outline-color: currentColor;
	outline-color: -webkit-focus-ring-color;
}

.search {
	position: relative;
	justify-items: end;
	border-bottom: 1px solid transparent;
	min-width: 10rem;
	grid-area: search;

	input {
		@include highlight-background;
		@include highlight-border;
		width: 100%;
		height: 35px;
		padding: 2px;
		box-sizing: border-box;
		border-radius: 5px;
		color: var(--color-gray);

		&:required+.search-spinner {
			display: block;
		}
	}

	.search-spinner {
		position: absolute;
		top: 0;
		margin: 8px;
		margin-inline-start: calc(100% - #{16px + 8px});

		width: 16px;
		height: 16px;

		border: 1px solid transparent;
		border-top-color: var(--highlight);
		border-radius: 50%;

		animation: spin 1s ease infinite;

		@keyframes spin {
			100% {
				transform: rotate(360deg);
			}
		}
	}

	.logo {
		display: inline-block;
		height: 1rem;
		border: 0;
		padding: 0px 2px;
		margin: auto 0;
		margin-right: 3px;
		background: transparent;
		vertical-align: text-bottom;
		border-radius: 0.15rem;
	}
}

.noSelect {
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.noSelect:focus {
	outline: none !important;
}

#search-results {
	@include body-background-color;
	@include drop-shadow;
	@include radius-base;
	margin-top: 0.25rem;
	position: absolute;
	z-index: 11;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	max-width: 100%;
	padding-inline-start: 0;

	a {
		white-space: normal;
	}
}

#search-results li a:hover {
	color: var(--color-gray);
	border-radius: 2px;
	text-decoration: underline;
}

.search ul li {
	line-height: 1.4rem;
	padding: 0.25rem 1rem 0.25rem 1rem;
}

.search ul {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.search .found:not(:empty) {
	display: block;
	padding: 3px;
	padding-left: 8px;
	border-left: 1px solid var(--font-color);
	opacity: 0.5;
	font-size: 80%;
}

.search mark {
	background: var(--color-gray);
}

.search small {
	opacity: 0.5;
	display: block;
}

.search ul li {
	list-style: none;
}