@mixin list-link-item {
  color: var(--color-text);
  border-bottom: 2px solid var(--color-border);

  &:hover {
    border-bottom-color: var(--color-text-secondary);
  }
}

/* colours */
@mixin highlight {
  color: var(--highlight);
}
@mixin highlight-background {
  background-color: var(--highlight-background);
}
@mixin highlight-border {
 border: 1px solid var(--highlight);
}
@mixin hint-background {
  background-color: var(--highlight-background);
}
@mixin nav-highlight-background {
 background: var(--hint-bg, var(--gray-light));
}