/*! purgecss start ignore */

html {
  font-size: 17px;
}

.mr-2 {
    margin-right: 1rem;
}

.p-4 {
    padding: 0.5rem!important;
    padding-right: 1rem!important;
}

.collapsible-menu-wrapper details {
  padding: 0!important;
  padding-left:0.5rem!important;
}

.collapsible-menu-wrapper details summary::-webkit-details-marker {
  float: right;
  margin-top: 8px;
}

::placeholder {
  font-size: 14px;
  pading-left: 10px;
}

input {
  padding: 5px!important;
  padding-left: .5rem!important;
  font-size: 14px;
  border: 0!important;
}

/* coloured navbar */
/*.mt-3 {
margin-top: 0rem;
background-color: var(--gray-100);
border-radius: 5px;
padding-left: 1rem;
padding-top: 5px;
}*/

/* site width fix */
@media (min-width: 1280px) {
    .xl\:w-5\/12 {
        width: 45.666667%;
    }
}
/* make site navbar stick around longer */
@media (min-width: 200px) {
    .xl\:block {
        display: block!important;
    }
}

/* mobile fixes */
@media (max-width: 600px) {
  .mt-9 {
    margin-top: 1rem!important;
  }
}

/* search */

@mixin spin($duration) {
  animation: spin $duration ease infinite;
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin outline {
  outline-style: auto;
  outline-color: currentColor;
  outline-color: -webkit-focus-ring-color;
}

.book-search {
  position: relative;
  margin: 16px 0;
  border-bottom: 1px solid transparent;

  input {
    width: 100%;
    padding: 2px;

    border: 1px solid var(--gray-200);
    border-radius: 5px;

    background: var(--gray-100);
    color: var(--body-font-color);

    &:required + .book-search-spinner {
      display: block;
    }
  }

  .book-search-spinner {
    position: absolute;
    top: 0;
    margin: 8px;
    margin-inline-start: calc(100% - #{16px + 8px});

    width: 16px;
    height: 16px;

    border: 1px solid transparent;
    border-top-color: var(--body-font-color);
    border-radius: 50%;

    @include spin(1s);
  }
}

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}

#book-search-results {
  margin-top: 0.25rem;
  position: absolute;
  background-color: var(--body-background);
  z-index: 11;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  max-width: 100%;
  border-radius: 5px;
}

.book-search ul li {
  font-size: 16px;
  line-height: 1.4rem;
  padding: 0.25rem 1rem 0.25rem 1rem;
}

.book-search ul {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.book-search small {
  opacity: 0.5;
  display: block;
}

/* footer breadcrumbs */
.breadcrumbs {
    padding: .25rem 1rem .25rem .75rem;
    border-radius: .25rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-top: 0rem;
    list-style: none;
    background-color: var(--gray-100);
    width: 100%;
}

/* pagination styling */
.pagination {
  text-align: center;
  padding: .25rem 1rem .25rem .75rem;
  border-radius: .25rem;
  margin-top: 0rem;
  list-style: none;
  background-color: var(--gray-100);
  width: 100%;
  display: inline-block;
  margin-bottom: .25rem;
}
ul.pagination {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.pagination .page-item {
  padding: 0px 10px 0px 10px;
  margin-left: 0;
  margin-right: 0;
  color: var(--color-gray);
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -.01em;
  text-align: center;
  vertical-align: middle;
}

@import "components/color.pcss";
@import "components/header.pcss";
@import "components/content.pcss";
@import "components/article.pcss";

/*! purgecss end ignore */
