<!-- Parallax -->
<!-- .:. Parallax engine and programming courtesy of Ben R. .:. -->

<div id="animation-images">
	  <img id="falling-1" class="asset" src="/images/mastheads/parallax/home/1.png" />
	  <img id="falling-2" class="asset" src="/images/mastheads/parallax/home/2.png" />
	  <img id="falling-3" class="asset" src="/images/mastheads/parallax/home/3.png" />
	  <img id="falling-4" class="asset" src="/images/mastheads/parallax/home/4.png" />
	  <img id="falling-5" class="asset" src="/images/mastheads/parallax/home/5.png" />
	  <img id="falling-6" class="asset" src="/images/mastheads/parallax/home/6.png" />
	  <img id="falling-7" class="asset" src="/images/mastheads/parallax/home/7.png" />
	  <img id="falling-8" class="asset" src="/images/mastheads/parallax/home/8.png" />
  </div>
  <canvas id="HeaderCanvas" class="edge-to-edge hug-top" width="3996" height="1212"></canvas>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

<!-- falling engine -->
<script src="/js/parallax-home/home-engine.js"></script>
<script src="/js/parallax-home/parallax-home.js"></script>