{{ define "main" }}
<style>
  @media screen and (max-width: 56rem) {
    #headerbox{
     margin-top: 40px;
    }
  }
  .markdown h2 {
    margin: 0.5rem;
    overflow: hidden;
    max-width: 300px;
  }
  .markdown img {
    max-height:58vh;
    margin: 0px;
  }
  .gt-container {
    display: none;
  }
  .markdown a {
    text-decoration: none;
  }
  .markdown a:hover {
    text-decoration: none;
    opacity: .75;
  }

  .markdown img {
    padding: 0;
  }
</style>
    <div style="border-box: inherit; margin-bottom: 8px;"id="headerbox">
      <h1 class="title">Posts Archive</h1>
      <h1 class="emoji" id="whirlybat">-pcvector
</h1>
    </div>
  <div style="display: flex; flex-wrap: wrap; flex-direction: columns;">
  {{ range sort .Paginator.Pages }}
  <article class="markdown book-post" style= "

  min-width: 100%;
  object-fit:cover;
  background-color: var(--gray-100);
  background-size: auto;
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem;
  margin-left: auto;
  margin-right: auto;

  ">
    <h2 style= "margin: 0px;">
      <a style="color: var(--body-font-color);" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    {{ partial "docs/post-meta" . }}
  </article>
  {{ end }}
 </div>
{{ template "_internal/pagination.html" . }}
{{ end }}
{{ define "toc" }}
  {{ partial "docs/taxonomy" . }}
{{ end }}
