<!-- original reddit "archive" link -->
{{ if in .Params.categories "non-canon" }}
  <blockquote class="note series">
    This article is not part of Vekllei canon. It may be old, obsolete or just a bit of fun.
  </blockquote>
{{ end }}

<!-- Global style modifications for all stories -->
{{ if eq .Section "stories" }}
  <style>
    .article-tag,
    .article-category,
    .pill {
      display: none;
    }
    .headcrumbs {
      display: none!important;
    }
    {{ if and .Params.categories (in (slice "story" "sketch" "comic") (index .Params.categories 0)) }}
    main {
      background: transparent;
    }
    body {
      background-image: none;
    }
    .breadcrumbs {
      background-color: var(--highlight-background);
    }
    {{ end }}
  </style>
{{ end }}