.postcard-layout {
  @include my-2;

  li {
    margin: 0;
  }
  .post-list {
    @include padding-0;
  }

  .post-grid {
    margin: 2.5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 10px;
    grid-auto-flow: row;
  }

  .card {
    @include radius-base;
    border: 1px solid var(--gray-heavy);
    width: 100%;
    box-sizing: border-box;
    background: var(--gray-light);
    padding: 0;
    transition: ease 0.15s;
    position: relative;
    //border: 6px solid var(--gray-light);
  }

  .post-info {
    @include padding-2;
    border-bottom: 1px solid var(--gray-heavy);
    .text-base {
      border-bottom: 0;
      line-height: 1.5;
      padding: 5px 0;
    }
  }

  .post-info .post-title {
    padding: 0 5px;
    border-radius: 7px;
    box-sizing: border-box;
  }

  .card .card-title {
    color: var(--darker-text);
  }

  .post-title span {
    color: var(--font-color);
  }

  .post-info .a-wrapper {
    display: block;
    padding: 0px 10px 5px 5px;
    margin-top: -5px;
    font-size: 14px;
    color: var(--darker-text);
  }

  .card .img-wrapper {
    @include radius-base;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
  }

  .card .img-wrapper img {
    transform: scale(1.1);
  }

  .card ul {
    padding-inline-start: 0;
  }

  .card:hover {
    --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transform: translate(0, -2.5px);
  }

  .item {
    justify-self: center;
    align-self: center;
    list-style: none;
  }

  .card img {
    width: 100%;
    min-height: auto !important;
    height: 360px !important;
    object-fit: cover !important;
    margin-bottom: 0;
    margin-top: 0 !important;
  }

  .post-grid {
    list-style: none;
    padding: 0;
  }
}
