.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
}

.shop-card h1, .shop-card h2, .shop-card h3, .shop-card a, .shop-card p {
  margin: 0!important;
  color: var(--font-color);
}

.shop-card h2 {
  color: var(--color-gray);
}

.shop-card a {
  color: var(--font-color)!important;
}

.shop-title h1 {
  font-weight: 900!important;
  position: absolute;
  margin: 5rem;
}

.card-img {
  background: var(--main-background);
}

.shop-card {
  background: var(--gray-light);
  padding: 1rem;
  border-radius: 5px;
  transition: box-shadow .3s;
}

.shop-card:hover {
   box-shadow: 0 0 5px rgba(33,33,33,.2);
}

.shop-item {  justify-self: center;
  align-self: center;}
