<div class="articlelinks">
  <div class="next-post alignleft">
    {{ if .NextInSection }}
      <a class="link-reverse" href="{{ .NextInSection.Permalink }}?ref=footer">← {{ .NextInSection.Title | truncate 50 "..." }}</a>
    {{ end }}
  </div>
  <div class="next-post alignright">
    {{ if .PrevInSection }}
      <a class="link-reverse" href="{{ .PrevInSection.Permalink }}?ref=footer">{{ .PrevInSection.Title | truncate 50 "..."}} →</a>
    {{ end }}
  </div>
</div>

<style>
.articlelinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px 20px;
  grid-template-areas: "alignleft alignright";
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  text-align: center;
  letter-spacing: -.01em;
}
.alignleft a:after, .alignright a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray);
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}
.alignleft a:hover:after, .alignright a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.alignleft:hover, .alignright:hover {
  filter: brightness(85%);
}
.alignleft {
  grid-area: alignleft;
  text-align: left;
  color: var(--color-gray);
}
.alignright {
  grid-area: alignright;
  text-align: right;
  color: var(--color-gray);
}
.alignleft a {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;
}
.alignright a {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;
}
</style>
