<div style="display: none;">
{{ .context.TableOfContents }}
</div>

<div class="collapsible-menu-wrapper" style="margin-bottom: 1rem;">
    {{ if eq .enable true }}
        <input id="collapse_btn_{{ .type }}" class="hidden collapse-btn-input" type="checkbox">
    {{ end }}

        <details class="noSelect">
            <summary class="noSelect" style="font-weight: 500; font-size: 16px; color: var(--color-gray); padding: 0px 5px;">{{ i18n .type }}</summary>
                <div class="collapsible-menu">
                    {{ if eq .type "changelogs" }}
                        <article id="collapsible_menu_changelogs">
                            {{ range $log := .context.Params.changelogs }}
                                <div>{{ $log.tag | markdownify }}</div>
                                <div>
                                    {{ range $log.description }}
                                        <div>{{ . | markdownify }}</div>
                                    {{ end }}
                                </div>
                            {{ end }}
                        </article>
                    {{ else if eq .type "toc" }}{{ .Params.Color }}
                        {{ .context.TableOfContents }}
                    {{ end }}
                </div>
       {{- if .enable -}}
       </details>
   {{- else -}}
   </div>
   {{- end -}}
