{{/* If the file exists and the filename isn't blank, */}}
{{ if (and (fileExists (print "/assets" .Destination)) (not (eq .Destination ""))) }}

{{/* Grab the image and ensure it has a width property, */}}
  {{ $image := resources.Get .Destination }}

  {{/* The reference to the fallback/fallback image */}}
  {{ $fallback := $image }}

  {{/* We build our src-set step by step. */}}
  {{ $src_set := "" }}

  <!-- ADD IMAGES TO SRC-SET -->

  {{ if ge $image.Width "2040" }}
	{{ $resized := $image.Resize "2040x q90 jpg" }}
	{{ $src_set = (print $src_set $resized.RelPermalink " 3x, ") }}
  {{ end }}

  {{ if ge $image.Width "1360" }}
	{{ $resized := $image.Resize "1360x q90 jpg" }}
	{{ $src_set = (print $src_set $resized.RelPermalink " 2x, ") }}
  {{ end }}

  {{ $resized := $image.Resize "680x q90 jpg" }}
  {{ $src_set = (print $src_set $resized.RelPermalink " 1x") }}
  {{ $fallback = $resized }}

  {{ $placeholder := ($image.Resize "128x q20") | images.Filter (images.GaussianBlur 1) }}
  {{ $alt := .PlainText | safeHTML }}

	<!-- If no JS, present a normal src/srcset pairing -->
	<!--  + the show-if-js class will be hidden (see head) -->
	<noscript>
	  <img class="rcf-image"
		{{ printf "srcset=%q" $src_set | safeHTMLAttr }}
		src="{{ $fallback.RelPermalink }}"
		{{- if .Text -}} alt="{{ .Text }}" {{ end }}
		{{- if .Title -}} title="{{ .Title }}" {{ end }}
		loading="lazy"
	  />
	</noscript>

	<!-- Otherwise the properly-->
	<img class="rcf-image lazyload show-if-js"
	  {{ printf "data-srcset=%q" $src_set | safeHTMLAttr }}
	  data-src="{{ $image.RelPermalink }}"
	  src="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
	  data-sizes="auto"
	  {{- if .Text -}} alt="{{ .Text }}" {{ end }}
	  {{- if .Title -}} title="{{ .Title }}" {{ end }}
	  loading="lazy"
	/>

  {{ else }}
	<!-- In case the image is not found on the filesystem for some reason... -->
	<img
	  class="rcf-image external-image unoptimized"
	  src="{{ .Destination | safeURL }}"
	  {{- if .Text -}} alt="{{ .Text }}" {{ end }}
	  {{- if .Title -}} title="{{ .Title }}" {{ end }}
	  loading="lazy"
	/>
{{ end }}