{{ if (and
		(fileExists (print "/images" .Destination))
		(not (eq .Destination ""))) }}

  {{ $image := resources.Get (printf "%s" .Destination) }}

  {{ $placeholder := ($image.Resize "128x q20")
					 | images.Filter (images.GaussianBlur 2) }}


  <!-- If no JS, present a normal src/srcset pairing -->
  <!--  + the show-if-js class will be hidden (see head) -->
  <noscript>
	<img
	  class="rcf-gif"
	  src="{{ $image.RelPermalink }}"
	  {{- if .Text -}} alt="{{ .Text }}" {{ end }}
	  {{- if .Title -}} title="{{ .Title }}" {{ end }}
	  loading="lazy"
	/>
  </noscript>

  <img
	class="rcf-gif lazyload show-if-js"
	srcset="data:image/jpeg;base64,{{ $placeholder.Content | base64Encode }}"
	data-sizes="auto"
	data-srcset="{{ $image.RelPermalink }} {{ $image.Width }}w"
	data-src="{{ $image.RelPermalink }}"
	width="{{ $image.Width }}"
	height="{{ $image.Height }}"
	{{- if .Text -}} alt="{{ .Text }}" {{ end }}
	{{- if .Title -}} title="{{ .Title }}" {{ end }}
	loading="lazy"
  />

  {{ else }}
  <!-- ... -->
{{ end }}