<div class="article-{{ .Params.Color }}">
  {{ $enable_line_no := (.Scratch.Get "params").syntax_highlight.prism.enable_line_no | default true }}
  {{ partial "headerbox" . }}
  {{ partial "post-meta" . }}
  <article {{ if $enable_line_no }}class="line-numbers"{{ end }}{{- if .Param "autonumbering" }} autonumbering {{- end }}>
      {{ partial "toc.html" . }}
      {{- partial "archive.html" . -}}
      {{ $content := .Content | replaceRE "<table>" "<table class=\"mc-table\">" }}
      {{ if eq (.Scratch.Get "params").syntax_highlight.lib "prism.js" }}
          {{ $content = $content | replaceRE "<pre>" "<pre class=\"language-text\">" }}
          {{ $content = $content | replaceRE "<pre([^>]*)class=\"([^>]*)\"([^>]*)>" "<pre$1 class=\"mc-prism hide $2\" $3>" }}
      {{ end }}
      {{ $content | safeHTML }}
  </article>
</div>