<footer>
  <!-- stories-specific footer -->
  {{ if in .Params.categories "story" }}
  {{ partial "components/stories/story-footer.html" . }}
  {{ end }}
  {{ if in .Params.categories "blog" }}
  {{ partial "components/stories/story-footer.html" . }}
  {{ end }}
  {{ if in .Params.categories "sketch" }}
  {{ partial "components/stories/story-footer.html" . }}
  {{ end }}
  {{ if in .Params.categories "comic" }}
  {{ partial "components/stories/story-footer.html" . }}
  {{ end }}

<nav class="story">
    <div class="next-post leftlink">
      {{ if .NextInSection }}
        <a class="link-reverse" href="{{ .NextInSection.Permalink }}">← {{ .NextInSection.Title | truncate 50 "..." }}</a>
      {{ end }}
    </div>
    <div>
      <!-- inPRNT shop link -->
      {{ if .Params.print }}
        <button href="{{ .Params.print }}"><span class="smallicon" style="font-size: 14px;">🛒</span> Print Shop</button>
      {{ end }}
    </div>
    <div class="next-post rightlink">
      {{ if .PrevInSection }}
        <a class="link-reverse" href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title | truncate 50 "..."}} →</a>
      {{ end }}
    </div>
  </nav>

  {{ partial "components/breadcrumbs.html" . }}

  {{ partial "components/articles/credit.html" . }}

  <div class="footer">
    <span class="smalldate">Edited {{ .Lastmod.Format "02/01/2006" }}</span>
    <span class="pill">
      <div class="pill-category">{{ .Section }}</div>
      <div class="pill-icon"></div>
      <div class="pill-title">{{ .Params.title }}</div>
    </span>

    <!-- reddit source link -->
    <div class="redditlink">
      {{ if .Params.reddit }}
      <a class="link" href="{{ .Params.reddit }}">Archived from the original article here</a>
      {{ end }}
    </div>
  </div>

  <br>

  {{ with (.Scratch.Get "params").footer }}
  <div class="copyright">
    Copyright © 2017-2024 Studio MillMint
  </div>
  {{ end }}
</footer>