<footer>
{{ partial "stories/story-footer.html" . }}
{{ partial "components/breadcrumbs.html" . }}

<div class="footer">
  <span class="edit-date">Edited {{ .Lastmod.Format "02/01/2006" }}</span>
  <span class="pill">
    <div class="pill-category">{{ partial "taxonomies/categories.html" .}}</div>
    <div class="pill-icon">🟪</div>
    <div class="pill-title">{{ .Params.title }}</div>
  </span>
</div>
  <br>
<!-- reddit source link -->
{{ if .Params.reddit }}
  <a class="link" href="{{ .Params.reddit }}">Archived from the original article here</a>
{{ end }}

<!-- comments -->
  
{{ if default true .Params.comments }}
  <!-- Comments by Cusdis 
  <div id="cusdis_thread" data-host="https://cusdis.com"
    data-app-id="288e75bf-568b-448b-bd4c-dc49540dd8db"
    data-page-id="{{ .File.UniqueID }}" data-page-url="{{ .Permalink }}"
    data-page-title="{{ .Title }}">
  </div>
  <script async defer src="/js/cusdis.es.js"></script>
  
  <!--<div id="gitalk-container">
	  <script>
  		  const gitalk = new Gitalk({
			  clientID: 'ee5c5c832ce3976fce7c',
			  clientSecret: '62cbf8133658da67cac752828b380980a5fda652',
			  repo: 'comments',      // The repository of store comments,
			  owner: 'MelonKony',
			  admin: ['MelonKony'],
			  id: location.pathname,      // Ensure uniqueness and length less than 50
			  distractionFreeMode: false  // Facebook-like distraction free mode
  		  })
		  
  		  gitalk.render('gitalk-container')
  	  </script>
	    <link rel="stylesheet" href="/css/comments.css">
  </div>-->
{{ end }}

{{ with (.Scratch.Get "params").footer }}
    <div class="copyright">
        Copyright © 2017-2022 Studio MillMint
    </div>
{{ end }}
  
</footer>
