<header>
  <div class="brand">
    <a class="name" href="{{ .Site.Home.RelPermalink }}">
      {{- with (.Scratch.Get "params").navbar_title }}{{ . | safeHTML }}{{- end -}}
    </a>
    <a class="emoji" id="whirlybat" href="{{ .Site.Home.RelPermalink }}">-millmint</a>
  </div>

  <!-- Tooltip Toggle Button -->
<span class="checkbox-wrapper tooltip">
  <input class="inp-cbx toggle-slider" id="tooltip-toggle" type="checkbox"/>
  <label class="cbx" for="tooltip-toggle">
    <span>
      <svg width="12px" height="10px">
        <use xlink:href="#check"></use>
      </svg>
    </span>
    <span id="tooltip-toggle-label">Tooltips</span>
  </label>
  <svg class="inline-svg">
    <symbol id="check" viewbox="0 0 12 10">
      <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
    </symbol>
  </svg>
</span>

  <!-- Theme Toggle Button -->
  <button id="theme-toggle" class="navbutton">
    <span id="theme-icon">🌗</span>
  </button>

  {{ if (.Scratch.Get "params").enable_site_search }}
    {{ partial "search" . }}
  {{ end }}
</header>
