<div>
  <div>
    <div>
      <div class="headerbox">
        <h1 class="title {{ .Params.Color }}" style="line-height: 1.2; font-size: 1.5rem; font-weight: 800; margin-bottom: 1rem; filter: brightness(35%);">{{ if .Params.fulltitle }}{{ .Params.fulltitle }}</h1>
        {{ end }}
        <div class="tag {{ .Params.Color }}">{{ if .Params.tag }}{{ .Params.tag }}</div>
        {{ end }}
        <div class="sitetag {{ .Params.Color }}">{{ if .Params.sitetag }}{{ .Params.sitetag }}</div>
        {{ end }}
        <div class="emoji {{ .Params.Color }}" id="whirlybat">{{ if .Params.emoji }}{{ .Params.emoji }}</div>
        {{ end }}
      </div>
    </div>
  </div>
</div>

<div>
  <div>
    <div class="post-meta">
      <div class="date">{{if .Params.PublishDate}}{{- .PublishDate.Format "Monday, Jan 2, 2006" -}}{{ end }}</div>
      <div class="posttag"><!--{{ partial "tags.html" .}}-->{{ partial "categories.html" .}}</div>
    </div>
  </div>
</div>

<h1 class="{{ .Params.Color }}" style="filter: brightness(35%);"></h1>
<h2 class="{{ .Params.Color }}" style="filter: brightness(35%);"></h2>
