{{ $jq := resources.Get "js/jquery.min.js" }}
{{ $dk := resources.Get "js/dark.js" }}
{{ $cs := resources.Get "js/colors.js" }}
{{ $fd := resources.Get "js/fade.js" }}
{{ $sn := resources.Get "js/sidenotes.js" }}
{{ $tc := resources.Get "js/toc.js" }}
{{ $tt := resources.Get "js/dictionary.js" }}
{{ $js := slice $jq $dk $cs $fd $sn $tc $tt | resources.Concat "js/millmint.js"  }}

{{ if .Site.IsServer }}
    <script defer src="{{ $js.RelPermalink }}" type="module"></script>
{{ else }}
    {{ $js = $js | minify | fingerprint }}
    <script defer src="{{ $js.RelPermalink }}" type="module"></script>
{{ end }}