<!-- Desktop TOC -->
{{ if and (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") (.Scratch.Get "params").enable_toc }}
<div class="desktop-toc-wrapper-wrapper">
    <div class="desktop-toc-wrapper">
        <div class="desktop-toc">
            <details class="dropdown" open=true>
                <summary>
                    <a href="#" class="toc-title">
                        <span class="toc-emoji">{{ .Params.icon }}</span>
                        <span>{{ .Params.title }}</span>
                    </a>
                </summary>
            {{ .TableOfContents }}
            </details>
        </div>
    </div>
</div>
{{ end }}

<!-- Everything below is the mobile TOC -->
{{ if and (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") (.Scratch.Get "params").enable_toc }}
    {{ $enable_collapsible_toc := (.Scratch.Get "params").enable_collapsible_toc }}
    <div class="mobile-toc">
        {{ partial "components/collapsible-menu.html" (dict "type" "toc" "context" . "enable" $enable_collapsible_toc) }}
    </div>
{{ end }}
