{{/* layouts/partials/wikilinks.html */}}
{{ $context := . }}
{{ $content := .Content }}
{{ $site := .Site }}

{{ $wikiLinkPattern := `\[\[([^|\]]+)(?:\|([^\]]+))?\]\]` }}
{{ $final := $content }}

{{ range $matches := findRE $wikiLinkPattern $content }}
    {{ $path := trim (index (findRE `\[\[([^|\]]+)` $matches) 0) "[[" }}
    {{ $display := index (findRE `\|([^\]]+)` $matches) 0 }}
    {{ $display = trim $display "|" }}
    {{ if not $display }}
        {{ $display = $path }}
    {{ end }}

    {{ with site.GetPage "bureau-of-parks-and-gardens" }}<a class="slink" style="color: var(--color-{{ .Params.color }}); background: color-mix(in srgb, var(--color-{{ .Params.color }}) 10%, transparent);" href="{{ .RelPermalink }}"><span class="{{ .Params.fi }}"></span> {{ .Title }}</a>{{ end }}

    {{ with $site.GetPage $path }}
        {{ if .Params.fi }}

          {{ if .Params.rgb }}
            {{ $rgb := .Params.rgb }}
            {{ $fi := .Params.fi }}
            {{ $replacement := printf `<a class="slink" style="color: rgb(%v); background: color-mix(in srgb, rgb(%v) 10%%, transparent);" href="%s"><span class="%s"></span> %s</a>`
                $rgb
                $rgb
                .RelPermalink
                $fi
                (default .Title $display) }}
            {{ $final = replace $final $matches $replacement }}

            {{ else }}

            {{ $rgb := .Params.color }}
            {{ $fi := .Params.fi }}
            {{ $replacement := printf `<a class="slink" style="color: var(--color-%v); background: color-mix(in srgb, var(--color-%v) 10%%, transparent);" href="%s"><span class="%s"></span> %s</a>`
                $rgb
                $rgb
                .RelPermalink
                $fi
                (default .Title $display) }}
            {{ $final = replace $final $matches $replacement }}
            {{ end }}

        {{ else }}
            {{ $replacement := printf `<a href="%s">%s</a>` .RelPermalink (default .Title $display) }}
            {{ $final = replace $final $matches $replacement }}
        {{ end }}
    {{ end }}
{{ end }}

{{ return $final }}