<nav>
  {{- $currentPage := . -}} {{- $currentUrl := .RelPermalink -}} {{- $isHome :=
  .IsHome -}}
  <ul class="navbar left">
    {{- range .Site.Menus.navbar -}} {{ $navbar_decoration := "" }} {{- if $currentPage.IsMenuCurrent "navbar" . -}} {{ $navbar_decoration = "active"}} {{- else if eq $currentUrl .URL -}} {{ $navbar_decoration = "active" }}
    {{- else if in ($currentUrl|lower) (.URL|lower) -}} {{ $navbar_decoration =
    "insection" }} {{- end -}} {{- if .Children -}}
    <li class="navbar-item navbar-dropdown allow-hover {{ $navbar_decoration }}">
      {{ if .URL }}
      <a href="{{ .URL }}" class="menu-link"><span class="navicon">{{ .Pre }}</span>{{- .Name -}}</a>
      {{ else }}
      <div class="menu-link"><span class="navicon">{{ .Pre }}</span>{{- .Name -}}</div>
      {{ end }}
      <ul class="menu-dropdown">
        {{- partial "navbar/nested-desktop.html" . -}}
      </ul>
    </li>
    {{- else -}}
    <li class="navbar-item {{ $navbar_decoration }}">
      {{ if .URL }}
      <a href="{{ .URL }}" class="menu-link"><span class="navicon">{{ .Pre }}</span>{{- .Name -}}</a>
      {{ else }}
      <div class="menu-link"><span class="navicon">{{ .Pre }}</span>{{- .Name -}}</div>
      {{ end }}
    </li>
    {{- end -}} {{- end -}}
  </ul>
  <ul class="navbar right">
    <li class="navbar-item ">
      <a
        href="https://www.patreon.com/vekllei"
        class="menu-link"
        ><img class="navicon" src="/icons/patreon.svg"></a>
    </li>
    <li class="navbar-item ">
      <a
        href="https://discord.gg/dCE6vSU"
        class="menu-link"
        ><img class="navicon" src="/icons/discord.svg"></a>
    </li>
    <li class="navbar-item ">
      <a
        href="https://twitter.com/melonkony"
        class="menu-link"
        ><img class="navicon" src="/icons/twitter.svg"></a>
    </li>
    <li class="navbar-item ">
      <a
        href="https://millmint.net/stories/index.xml"
        type="application/rss+xml"
        class="menu-link"
        ><img class="navicon" src="/icons/rss.svg"></a>
    </li>
  </ul>
</nav>
