{{ .Scratch.SetInMap "params" "usePrismJS" (.Site.Params.usePrismJS | default false) }}
{{ .Scratch.SetInMap "params" "enableSiteSearch" (.Site.Params.enableSiteSearch | default false) }}

{{ .Scratch.SetInMap "params" "enablePrismJSLineNo" (.Params.prism_lineno | default .Site.Params.enablePrismJSLineNo | default true) }}
{{ .Scratch.SetInMap "params" "navbarTitle" (.Params.navbar_title | default .Site.Params.navbarTitle | default .Site.Title) }}
{{ .Scratch.SetInMap "params" "author" (.Params.author | default .Site.Params.author) }}
{{ .Scratch.SetInMap "params" "enableOpenGraph" (.Params.open_graph | default .Site.Params.enableOpenGraph | default true) }}
{{ .Scratch.SetInMap "params" "enableTwitterCards" (.Params.twitter_cards | default .Site.Params.enableTwitterCards | default true) }}
{{ .Scratch.SetInMap "params" "enableTOC" (.Params.toc | default .Site.Params.enableTOC | default true) }}
{{ .Scratch.SetInMap "params" "enableZoomingJS" (.Params.zooming_js | default .Site.Params.enableZoomingJS | default true) }}
{{ .Scratch.SetInMap "params" "enableCodeCopy" (.Params.code_copy | default .Site.Params.enableCodeCopy | default true) }}
{{ .Scratch.SetInMap "params" "gaCode" (.Params.ga | default .Site.GoogleAnalytics) }}
{{ .Scratch.SetInMap "params" "footer" (.Params.footer | default .Site.Params.footer) }}
{{ .Scratch.SetInMap "params" "math" (.Params.math | default .Site.Params.enableMathJax | default false) }}
{{ .Scratch.SetInMap "params" "enableCollapsibleTOC" (.Params.collapsibleTOC | default .Site.Params.enableCollapsibleTOC | default false) }}
{{ .Scratch.SetInMap "params" "enableCollapsibleChangelogs" (.Params.collapsibleChangelogs | default .Site.Params.enableCollapsibleChangelogs | default false) }}

<head>
  {{ partial "head" . }}
  <link rel="stylesheet" href="/css/parallax/volcanic.css">
  <script>
   function resizeIframe(obj) {
     obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
    }
  </script>
</head>

<body dir={{ .Site.Language.LanguageDirection }}>
  <div class="w-full sm:w-10/12 md:w-9/12 lg:w-7/12 xl:w-5/12 m-auto px-6">
    {{- partial "header.html" . -}}
  </div>


  <!-- Parallax -->

  <!-- .:. Parallax engine and programming courtesy of Ben R. .:. -->

  <div id="animation-images">
      <img id="falling-1" class="asset" src="/images/mastheads/parallax/volcanic/1.png" />
      <img id="falling-2" class="asset" src="/images/mastheads/parallax/volcanic/2.png" />
      <img id="falling-3" class="asset" src="/images/mastheads/parallax/volcanic/3.png" />
      <img id="falling-4" class="asset" src="/images/mastheads/parallax/volcanic/4.png" />
      <img id="falling-train" class="asset" src="/images/mastheads/parallax/volcanic/T.png" />
      <img id="falling-5" class="asset" src="/images/mastheads/parallax/volcanic/5.png" />
      <img id="falling-6" class="asset" src="/images/mastheads/parallax/volcanic/6.png" />
      <img id="falling-7" class="asset" src="/images/mastheads/parallax/volcanic/7.png" />
      <img id="falling-train-2" class="asset" src="/images/mastheads/parallax/volcanic/T2.png" />
      <img id="falling-8" class="asset" src="/images/mastheads/parallax/volcanic/8.png" />
      <img id="falling-9" class="asset" src="/images/mastheads/parallax/volcanic/9.png" />
      <img id="falling-10" class="asset" src="/images/mastheads/parallax/volcanic/10.png" />
      <img id="falling-11" class="asset" src="/images/mastheads/parallax/volcanic/11.png" />
      <img id="falling-12" class="asset" src="/images/mastheads/parallax/volcanic/12.png" />
      <img id="falling-13" class="asset" src="/images/mastheads/parallax/volcanic/13.png" />
      <img id="falling-14" class="asset" src="/images/mastheads/parallax/volcanic/14.png" />
  </div>
  <canvas id="HeaderCanvas" class="edge-to-edge hug-top" width="3996" height="1212" ></canvas>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

  <!-- falling engine -->
  <script src="/js/parallax-volcanic/volcanic-engine.js"></script>
  <script src="/js/parallax-volcanic/parallax-volcanic.js"></script>

  <!DOCTYPE html>
  <html class="h-full w-full font-sans" lang='{{ .Site.LanguageCode }}'>
      {{- partial "head.html" . -}}
          <main class="w-full sm:w-10/12 md:w-9/12 lg:w-7/12 xl:w-5/12 m-auto px-6">
              <!--{{- partial "header.html" . -}}-->
              <div id="content" class="my-8">
                  {{ if .Params.changelogs }}
                      {{ $enableCollapsibleChangelogs := (.Scratch.Get "params").enableCollapsibleChangelogs }}
                      {{ partial "collapsible-menu.html" (dict "type" "changelogs" "context" . "enable" $enableCollapsibleChangelogs) }}
                  {{ end }}

                  {{- partial "content" . }}

                  {{ if eq .Kind "page" }}
                      {{ if (.Params.disqus | default .Site.DisqusShortname) }}
                          {{- partial "disqus.html" . -}}
                      {{ end }}
                  {{ else }}
                      {{ if (.Params.disqus | default false) }}
                          {{- partial "disqus.html" . -}}
                      {{ end }}
                  {{ end }}
              </div>
              {{- partial "footer.html" . -}}
          </main>
          {{- partial "resources/js.html" . -}}
  </html>

</body>

<style>
  .gt-container {
    display: none;
  }
  body header .navbar-item-dropdown.inactive, body header .navbar-item.inactive {
    color: #2F474C;
    fill: #2F474C;
  }
  .mb-8 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
</style>
