{{- partial "params.html" . -}}

<!DOCTYPE html>
{{- partial "head.html" . -}}
<link rel="stylesheet" href="/css/parallax/home.css">
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>

<body {{if .Params.Color }}data-color="{{ .Params.Color }}" {{ end }} class="show-all-images">
  <main class="home-parallax">
    <div class="floating-nav">
      {{- partial "header.html" . -}}
      {{- partial "nav.html" . -}}
    </div>

    <!-- Volcanic parallax partial -->
    {{- partial "parallax/home.html" . -}}
  </main>

  <main class="home-main">
    <article class="content">
      {{- partial "content" . }}

      <h1>Welcome to millmint.net</h1>
      <h2>Home of <span class="fi fi-com" style="opacity: 0.8"></span> Vekllei</h2>

      <div class="home-grid">
        <a class="book" href="/intro/">
          Intro
          <div class="navicon">📔</div>
        </a>
        <a class="book" href="/factbook/">
          Factbook
          <div class="navicon">📓</div>
        </a>
        <a class="book" href="/millmint/">
          MillMint
          <div class="navicon">📕</div>
        </a>
        <a class="book" href="/stories/">
          Stories
          <div class="navicon">📗</div>
        </a>
      </div>

      <br>

      <p>
        This website is an open notebook for a fictional depiction of Earth in the 21st Century. It includes a a wiki called <a href="/factbook/"><span class="navicon">📓</span>Factbook</a>, hundreds of illustrated <a href="/stories/"><span class="navicon">📗</span>Stories</a>, and a collection of essays, notes and journals under the <a href="/millmint/"><span class="navicon">📓</span>MillMint</a> category. To get started, visit the <a href="/intro/"><span class="navicon">📕</span>Intro</a>, <a href="/faq/">FAQ</a>, or just have a look around.
      </p>
      <p>
        You can find social links, RSS, dark mode and search in the navbar at the top of all pages, as well as a button for a table of contents on pages that have it.
      </p>

      <br>
    </article>
    {{- partial "footer.html" . -}}
  </main>
  {{- partial "resources/js.html" . -}}
  {{- partial "script.html" . -}}
</body>