<div class="bento">
	<div class="box" one-third>
		<a class="boxtitle" href="/millmint/" brown>
			<span class="navicon">🏡</span>
			<span class="name">Studio MillMint</span>
		</a>
		<div class="tray" brown>
			<a href="/about/">
			<span class="navicon">🪺</span>
			<span class="name">About</span>
			</a>
		</div>
		<div class="tray" purple>
			<a href="/millmint/dolls/">
				<span class="navicon">🧍‍♀️</span>
				<span class="name">Dolls</span>
			</a>
		</div>
		<div class="tray" millmint>
			<a href="/commissions/">
				<span class="navicon">📓</span>
				<span class="name">Commissions</span>
			</a>
		</div>
	</div>

	<div class="box" two-thirds>
		<a class="boxtitle" href="/essays/" blue>
			<span class="navicon">📄</span>
			<span class="name">Featured Essays</span>
		</a>
		<div class="tray" blue>
			<li><a href="/social-economy/">
				<span class="navicon">💸</span>
				<span class="name">A Social Economy</span></a>
			</li>
			<li><a href="/west/">
				<span class="navicon">🏔️</span>
				<span class="name">The West Coast of Tasmania</span></a>
			</li>
			<li><a href="/ghibli/">
				<span class="navicon">🫧</span>
				<span class="name">A Universal Nostalgia</span></a>
			</li>
			<a  href="/essays/"><button>
				Read more...
			</button></a>
		</div>
	</div>
</div>