{{- partial "params.html" . -}}

<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
{{- partial "head.html" . -}}

<body {{if .Params.Color }}data-color="{{ .Params.Color }}" {{ end }} class="show-all-images">
  <main>
    {{- partial "header.html" . -}}
    {{- partial "nav.html" . -}}

    {{ if and .Content (eq .Paginator.PageNumber 1) }}
    <article class="content" style="margin-top: 0;">
      <section class="page">
        {{- partial "content" . }}
      </section>
    </article>
    {{ end }}

    {{ partial "components/postcard.html" (dict "pages" .RegularPages "ctx" .) }}

    {{- partial "footer.html" . -}}
  </main>
  {{- partial "resources/js.html" . -}}
  {{- partial "script.html" . -}}
</body>
</html>