 <div class="slider">
	<div class="slide-track">
		<img src="/svg/flags/4x3/ac.svg">
		<img src="/svg/flags/4x3/fk.svg">
		<img src="/svg/flags/4x3/sh.svg">
		<img src="/svg/flags/4x3/santes.svg">
		<img src="/svg/flags/4x3/gs.svg">
		<img src="/svg/flags/4x3/sj.svg">
		<img src="/svg/flags/4x3/verde.svg">
		<img src="/svg/flags/4x3/ms.svg">
		<img src="/svg/flags/4x3/aloubaera.svg">
		<img src="/svg/flags/4x3/gd.svg">
		<img src="/svg/flags/4x3/kairi.svg">
		<img src="/svg/flags/4x3/vg.svg">
		<img src="/svg/flags/4x3/rum.svg">
		<img src="/svg/flags/4x3/fo.svg">
		<img src="/svg/flags/4x3/demon.svg">
		<img src="/svg/flags/4x3/oslola.svg">
	</div>
	<div class="slide-track">
		<img src="/svg/flags/4x3/ac.svg">
		<img src="/svg/flags/4x3/fk.svg">
		<img src="/svg/flags/4x3/sh.svg">
		<img src="/svg/flags/4x3/santes.svg">
		<img src="/svg/flags/4x3/gs.svg">
		<img src="/svg/flags/4x3/sj.svg">
		<img src="/svg/flags/4x3/verde.svg">
		<img src="/svg/flags/4x3/ms.svg">
		<img src="/svg/flags/4x3/aloubaera.svg">
		<img src="/svg/flags/4x3/gd.svg">
		<img src="/svg/flags/4x3/kairi.svg">
		<img src="/svg/flags/4x3/vg.svg">
		<img src="/svg/flags/4x3/rum.svg">
		<img src="/svg/flags/4x3/fo.svg">
		<img src="/svg/flags/4x3/demon.svg">
		<img src="/svg/flags/4x3/oslola.svg">
	</div>
</div>

<!-- Javascript duplicator (remove one slide-track)

	<script>
  var copy = document.querySelector(".slide-track").cloneNode(true);
  document.querySelector(".slider").appendChild(copy);
</script>-->