<details open>
    <summary>List of Vekllei Republics</summary>
  
    {{- $list := `
  
  * **Federal Territories**
      * Meteor Federal Territory
      * Vekllei Antarctic Territories
      * Vekllei Lunar Community
      * Vekllei Mars Territories
      * International Free Arctic Territories (partial)
  
  * **[[antarctic|Commonwealth Antarctic]]**
      * [[Ascension]] (*Ascension*)
      * [[Falklands]] (*Falklands*)
      * [[Helena]] (*Saint Helena*)
      * [[Santes]] (*Tristan da Cunha*)
      * [[Sude]] (*South Georgia & South Sandwich Islands*)
  
  * **[[antilles|Commonwealth Antilles]]**
      * [[Abakoa]] (*San Andres*)
      * [[Aruba]] (*Aruba*)
      * [[Bonaire]] (*Bonaire*)
      * [[Paria]] (*Los Roques Islands*)
      * [[Caimanas]] (*Caimanas*)
      * [[Curacao]] (*Curacao*)
      * [[Providence]] (*Providencia*)
  
  * **[[arctic|Commonwealth Arctic]]**
      * [[Helvasia]] (*Svalbard*)
      * [[Kala]] (*Greenland*)
  
  * **[[atlantic|Commonwealth Atlantic]]**
      * [[Berbera]] (*La Gomera*)
      * [[Canary]] (*Gran Canaria Island*)
      * [[Costa Verde]] (*Sao Miguel Island*)
      * [[Fayal]] (*Faial Island*)
      * [[Flores]] (*Flores Island*)
      * [[Graciosa]] (*Graciosa Island*)
      * [[Benahoare]] (*La Palma Island*)
      * [[Lanzarote]] (*Lanzarote Island*)
      * [[Maria]] (*Santa Maria Island*)
      * [[Meridia]] (*El Hierro Island*)
      * [[Mira]] (*Madeira*)
      * [[Pico]] (*Pico Island*)
      * [[Porto Santo]] (*Porto Santo*)
      * [[Tenerife]] (*Tenerife Island*)
      * [[Terceira]] (*Terceira Island*)
      * [[Velas]] (*Sao Jorge Island*)
      * [[Ventura]] (*Fuerteventura Island*)
  
  * **[[lucaya|Commonwealth Lucaya]]**
      * [[Bahama]] (*Grand Bahama*)
      * [[Caicos]] (*Turks & Caicos*)
      * Cigateo Republic (*Eleuthera*)
      * [[Conch]] (*Key West*)
      * [[Curateo]] (*Great Exuma*)
      * [[Guanima]] (*Cat Island*)
      * [[Habacoa]] (*Andros Islands*)
      * [[Inagua]] (*Great Inagua*)
      * [[Lucayoneque]] (*Abaco Islands*)
      * [[Mayaguana]] (*Mayaguana*)
      * [[Providence]] (*New Providence*)
      * [[Rum]] (*San Salvador & Rum Cay*)
      * [[Summers]] (*Bermuda*)
      * [[Yabaque]] (*Acklins*)
      * [[Yuma]] (*Long Island*)
  
  * **[[kalina|Commonwealth Kalina]]**
      * [[Allia]] (*Montserrat*)
      * [[Aloi]] (*St Eustatius*)
      * [[Aloubaera]] (*Tobago*)
      * [[Anguilla]] (*Anguilla*)
      * [[Antigua]] (*Antigua*)
      * [[Barbados]] (*Barbados*)
      * [[Barbary]] (*Barbuda*)
      * [[Cama]] (*Grenada*)
      * [[Grenadines]] (*Grenadines*)
      * [[Karu]] (*Guadeloupe*)
      * [[Kabuli]] (*Dominica*)
      * [[Kairi]] (*Trinidad*)
      * [[Liamuiga]] (*St Kitts*)
      * [[Lucia]] (*Saint Lucia*)
      * [[Madiana]] (*Martinique*)
      * [[Oualie]] (*Navis*)
      * [[Ouanalao]] (*Saint Barthelemy*)
      * [[Saba]] (*Saba*)
      * [[Soualiga]] (*Saint Martin/Sint Maartin*)
      * [[Virgin]] (*British/Spanish/U.S. Virgin Islands*)
      * [[Youloumain]] (*Saint Vincent & The Grenadines*)
  
  * **[[verde|Commonwealth Verde]]**
      * [[Annobon]] (*Annobon*)
      * [[Boa Vista]] (*Boa Vista*)
      * [[Brava]] (*Brava*)
      * [[Cavoada]] (*Sao Nicolau*)
      * [[Fogo]] (*Fogo*)
      * [[Java]] (*Sao Tome*)
      * [[Maio]] (*Maio*)
      * [[Moroços]] (*Santo Antao*)
      * [[Praia]] (*Santiago*)
      * [[Principe]] (*Sao Tome & Principe*)
      * [[Sal]] (*Sal*)
      * [[Viana]] (*Sao Vicente*)
  
  * **[[volcanic|Commonwealth Volcanic]]**
      * [[Aismious]] (*Faroe*)
      * [[Demon]] (*Jan Mayen*)
      * [[Hetland]] (*Shetland*)
      * [[Oslola]] (*Iceland*)
  
  ` -}}
  
    {{ $list | markdownify }}
  </details>