<blockquote class="note">
<div class="level">
	<div class="alert">
		<span class="fi fi-com"></span>
		SECURITY THREAT:

		<span class="status" style="color: green;">LOW</span>

		<span class="ring" style="color: green;"></span>
		<span class="circle" style="background-color: green;"></span>
	</div>
		<!--<span class="condition white">CDN: WHITE</span>-->
		<div class="text">
			An attack is highly unlikely at this time. This is because there are very few people who want to cause harm to Vekllei, and there is little means to conduct an attack on this country.
			<br>
			<br>
			There are very few violent extremists with the intention to conduct an attack onshore, and the risk factors of an attack have been reduced. You do not need to change your daily behaviour or activities.
		</div>
</div>

<div class="level">
	<div class="alert">
		<span class="fi fi-com"></span>
		SECURITY THREAT:

		<span class="status" style="color: blue;">MODERATE</span>

		<span class="ring" style="color: blue;"></span>
		<span class="circle" style="background-color: blue;"></span>
	</div>

		<!--<span class="condition black">CDN: BLACK</span>-->

		<div class="text">
			An attack is possible, but not likely. This is because there are a few people in Vekllei and overseas who want to cause this country harm, and may pose a risk to public safety.
			<br>
			<br>
			The threat from scandinationalists and religious extremists has moderated. The ability for these groups to attack Vekllei have been substantially degraded, and support for these groups has declined. You do not need to change your daily behaviour or activities.
		</div>
</div>

<div class="level">
	<div class="alert">
		<span class="fi fi-com"></span>
		SECURITY THREAT:

		<span class="status" style="color: orange;">SUBSTANTIAL</span>

		<span class="ring" style="color: orange;"></span>
		<span class="circle" style="background-color: orange;"></span>
	</div>

		<!--<span class="condition black-special">CDN: BLACK SPECIAL</span>-->

		<div class="text">
			An attack is likely. This is because extremists, including scandinationalists and religious fundamentalists, have support in Vekllei and overseas and may attempt to attack this country.
			<br>
			<br>
			Rising anti-government sentiment and anti-Vekllei extremist beliefs can create conditions for an attack. It is important that Vekllei people remain aware of their surroundings in busy public places and report suspicious activity.
		</div>
</div>

<div class="level">
	<div class="alert">
		<span class="fi fi-com"></span>
		SECURITY THREAT:

		<span class="status" style="color: coral;">SEVERE</span>

		<span class="ring" style="color: coral;"></span>
		<span class="circle" style="background-color: coral;"></span>
	</div>

		<!--<span class="condition amber">CDN: AMBER</span>-->

		<div class="text">
			An attack is highly likely. This is because Noshem is aware of extremists in Vekllei and overseas who intend to attack this country. The risk of danger to Vekllei people is considerable.
			<br>
			<br>
			In these conditions, support for extremist beliefs are a serious risk to public safety. Vekllei people should reconsider their need for travel and be aware of their surroundings in public places. All suspicious activity should be reported.
		</div>
</div>

<div class="level">
	<div class="alert">
		<span class="fi fi-com"></span>
		SECURITY THREAT:

		<span class="status" style="color: red;">CERTAIN</span>

		<span class="ring" style="color: red;"></span>
		<span class="circle" style="background-color: red;"></span>
	</div>

		<!--<span class="condition red">CDN: RED</span>-->

		<div class="text">
			An attack is imminent. Noshem are aware of a plan to attack this country. Danger is certain and Vekllei people may need to act immediately to save lives.
			<br>
			<br>
			Extremists are planning to commit an act of terror against Vekllei and the public may be in danger. Vekllei people should stay away from all public places, cancel plans to travel and shelter in place. All suspicious activity should be reported.
		</div>
</div>
</blockquote>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!--alert ring random colour script-->

<script>
var random = Math.floor(Math.random() * $('.level').length);
$('.level').hide().eq(random).show();
</script>