name: Publish Site

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Remove unused Docker images
        run: docker system prune -af

      - name: Clean up temporary files
        run: sudo rm -rf /tmp/*

      - name: Update theme
        run: git submodule update --init --recursive

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.125.1'
          extended: true

      - name: Build
        run: hugo --gc -d public

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          personal_token: ${{ secrets.TOKEN }}
          external_repository: MelonKony/millmint.net
          user_name: melonkony
          user_email: melonkony@icloud.com
          publish_dir: ./public
          publish_branch: live
          cname: millmint.net